flows.json
[
    {
        "id": "815170dd.fddee",
        "type": "tab",
        "label": "MeuTrecoNaInternet",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b60b1ece.48a3e",
        "type": "json",
        "z": "815170dd.fddee",
        "name": "BufferToJSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "86537b5d.b48ab8"
            ]
        ]
    },
    {
        "id": "17600f34.0fd691",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "Date Function",
        "func": "//CRIA UMA VARIÁVEL COM ESTRUTURA TIPO DATA\nvar date = new Date();\n//CONSTRÓI A DATA ATUAL DO SISTEMA\ndate = (('00' + date.getDate()).slice(-2)+\"/\"+('00' + (date.getMonth()+1)).slice(-2)+\"/\"+date.getFullYear()+\" - \"+('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2)+\"\\\"}\");\n//CONCATENA A DATA AOS DEMAIS OBJETOS\nmsg.payload = msg.payload.replace(\"}\",\", \\\"Date\\\": \\\"\") + date;\n//RETORNA A MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 480,
        "wires": [
            [
                "e57dcfd7.18221"
            ]
        ]
    },
    {
        "id": "4ba1dfd6.499b5",
        "type": "mqtt out",
        "z": "815170dd.fddee",
        "name": "Atuadores",
        "topic": "iotTro/EstufaAutomatica/Atuadores",
        "qos": "0",
        "retain": "false",
        "broker": "7f61345c.d3baac",
        "x": 1090,
        "y": 860,
        "wires": []
    },
    {
        "id": "9a94658d.10a1c8",
        "type": "serial out",
        "z": "815170dd.fddee",
        "name": "",
        "serial": "4ae9a96a.683c28",
        "x": 570,
        "y": 1060,
        "wires": []
    },
    {
        "id": "9497628b.b0c97",
        "type": "serial in",
        "z": "815170dd.fddee",
        "name": "",
        "serial": "4ae9a96a.683c28",
        "x": 510,
        "y": 480,
        "wires": [
            [
                "17600f34.0fd691"
            ]
        ]
    },
    {
        "id": "e57dcfd7.18221",
        "type": "mqtt out",
        "z": "815170dd.fddee",
        "name": "Sensores",
        "topic": "iotTro/EstufaAutomatica/Sensores",
        "qos": "0",
        "retain": "false",
        "broker": "7f61345c.d3baac",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "bc3bf79b.e68818",
        "type": "mqtt in",
        "z": "815170dd.fddee",
        "name": "Atuadores",
        "topic": "iotTro/EstufaAutomatica/Atuadores",
        "qos": "0",
        "datatype": "auto",
        "broker": "7f61345c.d3baac",
        "x": 420,
        "y": 1060,
        "wires": [
            [
                "9a94658d.10a1c8",
                "eb8b6c6e.fe086"
            ]
        ]
    },
    {
        "id": "94f5f79b.d2d0b8",
        "type": "mqtt in",
        "z": "815170dd.fddee",
        "name": "Sensores",
        "topic": "iotTro/EstufaAutomatica/Sensores",
        "qos": "0",
        "datatype": "auto",
        "broker": "7f61345c.d3baac",
        "x": 520,
        "y": 360,
        "wires": [
            [
                "b60b1ece.48a3e"
            ]
        ]
    },
    {
        "id": "86537b5d.b48ab8",
        "type": "switch",
        "z": "815170dd.fddee",
        "name": "Identificação da Estufa",
        "property": "payload.Name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ALFA",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BETA",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GAMA",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 920,
        "y": 360,
        "wires": [
            [
                "cea94bb8.50f2c8",
                "c49803d2.9b75e",
                "7681b380.a59c0c",
                "378bf94f.e04806",
                "afa460ce.68001",
                "f4b98ed9.37fd3",
                "c2ee14c2.5745a8",
                "e1594ae9.fa3468",
                "19a4c23e.eedf5e",
                "9347a0ed.c7a34",
                "4e8e8835.467ac8"
            ],
            [
                "7217e5c6.9009ac",
                "6f247497.7d6b5c",
                "35866e4a.4dc8c2",
                "b36562ee.48662",
                "f01e8ba7.636a48",
                "590b5fc0.77152",
                "a438bd2d.16e54",
                "f03332f7.81f3e",
                "685bb315.7cc96c",
                "7ee5c9cd.9b2238",
                "234b386c.c748a8"
            ],
            [
                "ff242fe5.6451d",
                "5fbff62f.2c0508",
                "81963eb7.4df6c",
                "3ee32a79.e0dae6",
                "83facad3.a50a78",
                "3843a90f.358136",
                "999006e6.b2fd08",
                "81d093fa.7101e",
                "aab2f95.2274508",
                "7782ebc8.75e1e4",
                "b73f2bd5.6caa28"
            ]
        ]
    },
    {
        "id": "cea94bb8.50f2c8",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "bf26d515.9d7f08",
        "order": 9,
        "width": 12,
        "height": 1,
        "name": "Atualização [ALFA]",
        "label": "Atualizado em ",
        "format": "{{msg.payload.Date}}",
        "layout": "row-center",
        "x": 1210,
        "y": 100,
        "wires": []
    },
    {
        "id": "5fbff62f.2c0508",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "66ea7126.e404b",
        "order": 9,
        "width": 12,
        "height": 1,
        "name": "Atualização [GAMA]",
        "label": "Atualizado em ",
        "format": "{{msg.payload.Date}}",
        "layout": "row-center",
        "x": 2060,
        "y": 100,
        "wires": []
    },
    {
        "id": "7217e5c6.9009ac",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "868f50bf.00a19",
        "order": 9,
        "width": 12,
        "height": 1,
        "name": "Atualização [BETA]",
        "label": "Atualizado em ",
        "format": "{{msg.payload.Date}}",
        "layout": "row-center",
        "x": 1630,
        "y": 100,
        "wires": []
    },
    {
        "id": "c49803d2.9b75e",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "var command;\nif(msg.payload.Temperature<=10)\n    command = \"#thermometer_empty\";\n\nif((msg.payload.Temperature>10)&&(msg.payload.Temperature<=20))\n    command = \"#thermometer_quarter\";\n\nif((msg.payload.Temperature>20)&&(msg.payload.Temperature<=30))\n    command = \"#thermometer_half\";\n\nif((msg.payload.Temperature>30)&&(msg.payload.Temperature<=40))\n    command = \"#thermometer_three_quarters\";\n\nif(msg.payload.Temperature>40)\n    command = \"#thermometer_full\";\n\nmsg.payload = \n    {\n      \"command\": \"update_attribute\",\n      \"selector\": \"#thermometer\",\n      \"attributeName\": \"xlink:href\",\n      \"attributeValue\": command\n    };\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "575ad219.36c89c"
            ]
        ]
    },
    {
        "id": "7681b380.a59c0c",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO \nmsg.payload =   \n    {   \"command\"       : \"update_attribute\",\n        \"selector\"      : \"#alfaColor_H\",\n        \"attributeName\" : \"offset\",\n        \"attributeValue\": (100-msg.payload.Humidity+\"%\")\n    };\n//LIMPA O TÓPICO DA MSG\nmsg.topic = \"\";\n//RETORNA MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 420,
        "wires": [
            [
                "3ff06df.6149092"
            ]
        ]
    },
    {
        "id": "46e3c7ea.ad7988",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "868f50bf.00a19",
        "order": 1,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"thermometer\" xlink:href=\"#thermometer_empty\" x=\"75\" y=\"0\" width=\"150\" height=\"300\" fill=\"midnightblue\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"thermometer_empty\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_quarter\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V288c0-17.673 14.327-32 32-32s32 14.327 32 32v40.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_half\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V224c0-17.673 14.327-32 32-32s32 14.327 32 32v104.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_three_quarters\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64-35.346 0-64-28.654-64-64 0-23.685 12.876-44.349 32-55.417V160c0-17.673 14.327-32 32-32s32 14.327 32 32v168.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_full\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M224 96c0-53.019-42.981-96-96-96S32 42.981 32 96v203.347C12.225 321.756.166 351.136.002 383.333c-.359 70.303 56.787 128.176 127.089 128.664.299.002.61.003.909.003 70.698 0 128-57.304 128-128 0-32.459-12.088-62.09-32-84.653V96zm-96 368l-.576-.002c-43.86-.304-79.647-36.544-79.423-80.42.173-33.98 19.266-51.652 31.999-66.08V96c0-26.467 21.533-48 48-48s48 21.533 48 48v221.498c12.63 14.312 32 32.164 32 66.502 0 44.112-35.888 80-80 80zm64-80c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V96c0-17.673 14.327-32 32-32s32 14.327 32 32v232.583c19.124 11.068 32 31.732 32 55.417z\" />\n  </symbol>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": true,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Temperature [BETA]",
        "x": 1780,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "62b1e6a6.4463e8",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "66ea7126.e404b",
        "order": 1,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"thermometer\" xlink:href=\"#thermometer_empty\" x=\"75\" y=\"0\" width=\"150\" height=\"300\" fill=\"midnightblue\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"thermometer_empty\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_quarter\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V288c0-17.673 14.327-32 32-32s32 14.327 32 32v40.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_half\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V224c0-17.673 14.327-32 32-32s32 14.327 32 32v104.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_three_quarters\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64-35.346 0-64-28.654-64-64 0-23.685 12.876-44.349 32-55.417V160c0-17.673 14.327-32 32-32s32 14.327 32 32v168.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_full\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M224 96c0-53.019-42.981-96-96-96S32 42.981 32 96v203.347C12.225 321.756.166 351.136.002 383.333c-.359 70.303 56.787 128.176 127.089 128.664.299.002.61.003.909.003 70.698 0 128-57.304 128-128 0-32.459-12.088-62.09-32-84.653V96zm-96 368l-.576-.002c-43.86-.304-79.647-36.544-79.423-80.42.173-33.98 19.266-51.652 31.999-66.08V96c0-26.467 21.533-48 48-48s48 21.533 48 48v221.498c12.63 14.312 32 32.164 32 66.502 0 44.112-35.888 80-80 80zm64-80c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V96c0-17.673 14.327-32 32-32s32 14.327 32 32v232.583c19.124 11.068 32 31.732 32 55.417z\" />\n  </symbol>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Temperature [GAMA]",
        "x": 2200,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6f247497.7d6b5c",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "if(msg.payload.Temperature<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"midnightblue\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_empty\"\n    }\n    ];\nif((msg.payload.Temperature>10)&&(msg.payload.Temperature<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"navyblue\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_quarter\"\n    }\n    ];\nif((msg.payload.Temperature>20)&&(msg.payload.Temperature<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"gold\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_half\"\n    }\n    ];\nif((msg.payload.Temperature>30)&&(msg.payload.Temperature<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"coral\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_three_quarters\"\n    }\n    ];\nif(msg.payload.Temperature>=40)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"crimson\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_full\"\n    }\n    ];\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 340,
        "wires": [
            [
                "46e3c7ea.ad7988"
            ]
        ]
    },
    {
        "id": "ff242fe5.6451d",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "if(msg.payload.Temperature<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"midnightblue\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_empty\"\n    }\n    ];\nif((msg.payload.Temperature>10)&&(msg.payload.Temperature<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"navyblue\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_quarter\"\n    }\n    ];\nif((msg.payload.Temperature>20)&&(msg.payload.Temperature<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"gold\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_half\"\n    }\n    ];\nif((msg.payload.Temperature>30)&&(msg.payload.Temperature<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"coral\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_three_quarters\"\n    }\n    ];\nif(msg.payload.Temperature>=40)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"crimson\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_full\"\n    }\n    ];\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2010,
        "y": 340,
        "wires": [
            [
                "62b1e6a6.4463e8"
            ]
        ]
    },
    {
        "id": "378bf94f.e04806",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO \nmsg.payload =   \n    {   \"command\"       : \"update_attribute\",\n        \"selector\"      : \"#alfaColor_L\",\n        \"attributeName\" : \"offset\",\n        \"attributeValue\": (100-msg.payload.Light+\"%\")\n    };\n//LIMPA O TÓPICO DA MSG\nmsg.topic = \"\";\n//RETORNA MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 380,
        "wires": [
            [
                "a7557680.34e2e8"
            ]
        ]
    },
    {
        "id": "afa460ce.68001",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "bf26d515.9d7f08",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Temperature_label [ALFA]",
        "label": "Temperature",
        "format": "{{msg.payload.Temperature}}ºC",
        "layout": "col-center",
        "x": 1230,
        "y": 220,
        "wires": []
    },
    {
        "id": "f4b98ed9.37fd3",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "bf26d515.9d7f08",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Humidity_label [ALFA]",
        "label": "Humidity",
        "format": "{{msg.payload.Humidity}}%",
        "layout": "col-center",
        "x": 1220,
        "y": 140,
        "wires": []
    },
    {
        "id": "575ad219.36c89c",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "bf26d515.9d7f08",
        "order": 1,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"thermometer\" xlink:href=\"#thermometer_empty\" x=\"75\" y=\"0\" width=\"150\" height=\"300\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"thermometer_empty\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\" style=\"fill:midnightblue;\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_quarter\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\" style=\"fill:navyblue;\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V288c0-17.673 14.327-32 32-32s32 14.327 32 32v40.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_half\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\" style=\"fill:gold;\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V224c0-17.673 14.327-32 32-32s32 14.327 32 32v104.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_three_quarters\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\" style=\"fill:coral;\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64-35.346 0-64-28.654-64-64 0-23.685 12.876-44.349 32-55.417V160c0-17.673 14.327-32 32-32s32 14.327 32 32v168.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_full\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\" style=\"fill:crimson;\">\n    <path d=\"M224 96c0-53.019-42.981-96-96-96S32 42.981 32 96v203.347C12.225 321.756.166 351.136.002 383.333c-.359 70.303 56.787 128.176 127.089 128.664.299.002.61.003.909.003 70.698 0 128-57.304 128-128 0-32.459-12.088-62.09-32-84.653V96zm-96 368l-.576-.002c-43.86-.304-79.647-36.544-79.423-80.42.173-33.98 19.266-51.652 31.999-66.08V96c0-26.467 21.533-48 48-48s48 21.533 48 48v221.498c12.63 14.312 32 32.164 32 66.502 0 44.112-35.888 80-80 80zm64-80c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V96c0-17.673 14.327-32 32-32s32 14.327 32 32v232.583c19.124 11.068 32 31.732 32 55.417z\" />\n  </symbol>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Temperature [ALFA]",
        "x": 1360,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c2ee14c2.5745a8",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "bf26d515.9d7f08",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "Lightness_label [ALFA]",
        "label": "Lightness",
        "format": "{{msg.payload.Light}}%",
        "layout": "col-center",
        "x": 1220,
        "y": 180,
        "wires": []
    },
    {
        "id": "e1594ae9.fa3468",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "bf26d515.9d7f08",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Moisture_label [ALFA]",
        "label": "Moisture",
        "format": "{{msg.payload.Moisture}}%",
        "layout": "col-center",
        "x": 1220,
        "y": 260,
        "wires": []
    },
    {
        "id": "f01e8ba7.636a48",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "868f50bf.00a19",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Temperature_label [BETA]",
        "label": "Temperature",
        "format": "{{msg.payload.Temperature}}ºC",
        "layout": "col-center",
        "x": 1650,
        "y": 220,
        "wires": []
    },
    {
        "id": "35866e4a.4dc8c2",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "868f50bf.00a19",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Humidity_label [BETA]",
        "label": "Humidity",
        "format": "{{msg.payload.Humidity}}%",
        "layout": "col-center",
        "x": 1640,
        "y": 140,
        "wires": []
    },
    {
        "id": "b36562ee.48662",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "868f50bf.00a19",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "Lightness_label [BETA]",
        "label": "Lightness",
        "format": "{{msg.payload.Light}}%",
        "layout": "col-center",
        "x": 1650,
        "y": 180,
        "wires": []
    },
    {
        "id": "590b5fc0.77152",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "868f50bf.00a19",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Moisture_label [BETA]",
        "label": "Moisture",
        "format": "{{msg.payload.Moisture}}%",
        "layout": "col-center",
        "x": 1640,
        "y": 260,
        "wires": []
    },
    {
        "id": "83facad3.a50a78",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "66ea7126.e404b",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Temperature_label [GAMA]",
        "label": "Temperature",
        "format": "{{msg.payload.Temperature}}ºC",
        "layout": "col-center",
        "x": 2080,
        "y": 220,
        "wires": []
    },
    {
        "id": "81963eb7.4df6c",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "66ea7126.e404b",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Umidade_ar [GAMA]",
        "label": "Humidity",
        "format": "{{msg.payload.Humidity}}%",
        "layout": "col-center",
        "x": 2060,
        "y": 140,
        "wires": []
    },
    {
        "id": "3ee32a79.e0dae6",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "66ea7126.e404b",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "Lightness_label [GAMA]",
        "label": "Lightness",
        "format": "{{msg.payload.Light}}%",
        "layout": "col-center",
        "x": 2070,
        "y": 180,
        "wires": []
    },
    {
        "id": "3843a90f.358136",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "66ea7126.e404b",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Moisture_label [GAMA]",
        "label": "Moisture",
        "format": "{{msg.payload.Moisture}}%",
        "layout": "col-center",
        "x": 2070,
        "y": 260,
        "wires": []
    },
    {
        "id": "19a4c23e.eedf5e",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO \nmsg.payload =   \n    {   \"command\"       : \"update_attribute\",\n        \"selector\"      : \"#alfaColor_M\",\n        \"attributeName\" : \"offset\",\n        \"attributeValue\": (100-msg.payload.Moisture+\"%\")\n    };\n//LIMPA O TÓPICO DA MSG\nmsg.topic = \"\";\n//RETORNA MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 460,
        "wires": [
            [
                "6728328e.376a5c"
            ]
        ]
    },
    {
        "id": "6728328e.376a5c",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "bf26d515.9d7f08",
        "order": 3,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"alfaMoisture\" xlink:href=\"#alfaMoisture_icon\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:url(#alfaMoisture_);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"alfaMoisture_icon\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 512 512\">\n    <path d=\"M64 96H0c0 123.7 100.3 224 224 224v144c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V320C288 196.3 187.7 96 64 96zm384-64c-84.2 0-157.4 46.5-195.7 115.2 27.7 30.2 48.2 66.9 59 107.6C424 243.1 512 147.9 512 32h-64z\" />\n  </symbol>\n  <linearGradient id=\"alfaMoisture_\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop id=\"alfaColor_M\" offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Moisture [ALFA]",
        "x": 1340,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "88b7f9ec.edb408",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "868f50bf.00a19",
        "order": 3,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"betaMoisture\" xlink:href=\"#betaMoisture_icon\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:url(#betaMoisture_);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"betaMoisture_icon\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 512 512\">\n    <path d=\"M64 96H0c0 123.7 100.3 224 224 224v144c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V320C288 196.3 187.7 96 64 96zm384-64c-84.2 0-157.4 46.5-195.7 115.2 27.7 30.2 48.2 66.9 59 107.6C424 243.1 512 147.9 512 32h-64z\" />\n  </symbol>\n  <linearGradient id=\"betaMoisture_\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop id=\"betaColor_M\" offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Moisture [BETA]",
        "x": 1760,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "100ce000.16ba",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "66ea7126.e404b",
        "order": 3,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"gamaMoisture\" xlink:href=\"#gamaMoisture_icon\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:url(#gamaMoisture_);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"gamaMoisture_icon\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 512 512\">\n    <path d=\"M64 96H0c0 123.7 100.3 224 224 224v144c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V320C288 196.3 187.7 96 64 96zm384-64c-84.2 0-157.4 46.5-195.7 115.2 27.7 30.2 48.2 66.9 59 107.6C424 243.1 512 147.9 512 32h-64z\" />\n  </symbol>\n  <linearGradient id=\"gamaMoisture_\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop id=\"gamaColor_M\" offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Moisture [GAMA]",
        "x": 2190,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a7557680.34e2e8",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "bf26d515.9d7f08",
        "order": 4,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"alfaLightness\" xlink:href=\"#alfaLightbulb\" x=\"50\" y=\"0\" width=\"200\" height=\"300\" style=\"fill:url(#alfaLightness_);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"alfaLightbulb\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\">\n    <path d=\"M96.06 454.35c.01 6.29 1.87 12.45 5.36 17.69l17.09 25.69a31.99 31.99 0 0 0 26.64 14.28h61.71a31.99 31.99 0 0 0 26.64-14.28l17.09-25.69a31.989 31.989 0 0 0 5.36-17.69l.04-38.35H96.01l.05 38.35zM0 176c0 44.37 16.45 84.85 43.56 115.78 16.52 18.85 42.36 58.23 52.21 91.45.04.26.07.52.11.78h160.24c.04-.26.07-.51.11-.78 9.85-33.22 35.69-72.6 52.21-91.45C335.55 260.85 352 220.37 352 176 352 78.61 272.91-.3 175.45 0 73.44.31 0 82.97 0 176zm176-80c-44.11 0-80 35.89-80 80 0 8.84-7.16 16-16 16s-16-7.16-16-16c0-61.76 50.24-112 112-112 8.84 0 16 7.16 16 16s-7.16 16-16 16z\" />\n  </symbol>\n  <linearGradient id=\"alfaLightness_\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop id=\"alfaColor_L\" offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Lightness [ALFA]",
        "x": 1350,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "cb98e2f9.b6891",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "66ea7126.e404b",
        "order": 4,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"gamaLightness\" xlink:href=\"#gamaLightbulb\" x=\"50\" y=\"0\" width=\"200\" height=\"300\" style=\"fill:url(#gamaLightness_);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"gamaLightbulb\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\">\n    <path d=\"M96.06 454.35c.01 6.29 1.87 12.45 5.36 17.69l17.09 25.69a31.99 31.99 0 0 0 26.64 14.28h61.71a31.99 31.99 0 0 0 26.64-14.28l17.09-25.69a31.989 31.989 0 0 0 5.36-17.69l.04-38.35H96.01l.05 38.35zM0 176c0 44.37 16.45 84.85 43.56 115.78 16.52 18.85 42.36 58.23 52.21 91.45.04.26.07.52.11.78h160.24c.04-.26.07-.51.11-.78 9.85-33.22 35.69-72.6 52.21-91.45C335.55 260.85 352 220.37 352 176 352 78.61 272.91-.3 175.45 0 73.44.31 0 82.97 0 176zm176-80c-44.11 0-80 35.89-80 80 0 8.84-7.16 16-16 16s-16-7.16-16-16c0-61.76 50.24-112 112-112 8.84 0 16 7.16 16 16s-7.16 16-16 16z\" />\n  </symbol>\n  <linearGradient id=\"gamaLightness_\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop id=\"gamaColor_L\" offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Lightness [GAMA]",
        "x": 2190,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3ff06df.6149092",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "bf26d515.9d7f08",
        "order": 2,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"alfaHumidity\" xlink:href=\"#alfaHumidity_icon\" x=\"50\" y=\"0\" width=\"200\" height=\"300\" style=\"fill:url(#alfaHumidity_);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"alfaHumidity_icon\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\">\n    <path d=\"M205.22 22.09c-7.94-28.78-49.44-30.12-58.44 0C100.01 179.85 0 222.72 0 333.91 0 432.35 78.72 512 176 512s176-79.65 176-178.09c0-111.75-99.79-153.34-146.78-311.82zM176 448c-61.75 0-112-50.25-112-112 0-8.84 7.16-16 16-16s16 7.16 16 16c0 44.11 35.89 80 80 80 8.84 0 16 7.16 16 16s-7.16 16-16 16z\" />\n  </symbol>\n  <linearGradient id=\"alfaHumidity_\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop id=\"alfaColor_H\" offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Humidity [ALFA]",
        "x": 1340,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4cd5910a.174ca",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "868f50bf.00a19",
        "order": 2,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"betaHumidity\" xlink:href=\"#betaHumidity_icon\" x=\"50\" y=\"0\" width=\"200\" height=\"300\" style=\"fill:url(#betaHumidity_);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"betaHumidity_icon\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\">\n    <path d=\"M205.22 22.09c-7.94-28.78-49.44-30.12-58.44 0C100.01 179.85 0 222.72 0 333.91 0 432.35 78.72 512 176 512s176-79.65 176-178.09c0-111.75-99.79-153.34-146.78-311.82zM176 448c-61.75 0-112-50.25-112-112 0-8.84 7.16-16 16-16s16 7.16 16 16c0 44.11 35.89 80 80 80 8.84 0 16 7.16 16 16s-7.16 16-16 16z\" />\n  </symbol>\n  <linearGradient id=\"betaHumidity_\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop id=\"betaColor_H\" offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Humidity [BETA]",
        "x": 1760,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d256633b.27507",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "66ea7126.e404b",
        "order": 2,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"gamaHumidity\" xlink:href=\"#gamaHumidity_icon\" x=\"50\" y=\"0\" width=\"200\" height=\"300\" style=\"fill:url(#gamaHumidity_);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"gamaHumidity_icon\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\">\n    <path d=\"M205.22 22.09c-7.94-28.78-49.44-30.12-58.44 0C100.01 179.85 0 222.72 0 333.91 0 432.35 78.72 512 176 512s176-79.65 176-178.09c0-111.75-99.79-153.34-146.78-311.82zM176 448c-61.75 0-112-50.25-112-112 0-8.84 7.16-16 16-16s16 7.16 16 16c0 44.11 35.89 80 80 80 8.84 0 16 7.16 16 16s-7.16 16-16 16z\" />\n  </symbol>\n  <linearGradient id=\"gamaHumidity_\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop id=\"gamaColor_H\" offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Humidity [GAMA]",
        "x": 2190,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ef8422e2.1fbb2",
        "type": "ui_colour_picker",
        "z": "815170dd.fddee",
        "name": "LedLight",
        "label": "Led Light ",
        "group": "a6e7b68d.5ee648",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 8,
        "width": 5,
        "height": 2,
        "passthru": false,
        "topic": "rgb",
        "x": 500,
        "y": 840,
        "wires": [
            [
                "b64a1517.7a4a18"
            ]
        ]
    },
    {
        "id": "b64a1517.7a4a18",
        "type": "join",
        "z": "815170dd.fddee",
        "name": "JoinMsg",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 680,
        "y": 860,
        "wires": [
            [
                "6696390f.a653a8"
            ]
        ]
    },
    {
        "id": "bf93c3cc.fc1e2",
        "type": "change",
        "z": "815170dd.fddee",
        "name": "Complete",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "complete",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 880,
        "wires": [
            [
                "b64a1517.7a4a18"
            ]
        ]
    },
    {
        "id": "5e83feaf.55d56",
        "type": "ui_button",
        "z": "815170dd.fddee",
        "name": "",
        "group": "a6e7b68d.5ee648",
        "order": 11,
        "width": 2,
        "height": 2,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "#0094ce",
        "bgcolor": "white",
        "icon": "fa-check-square fa-5x",
        "payload": "0",
        "payloadType": "num",
        "topic": "forced",
        "x": 355,
        "y": 680,
        "wires": [
            [
                "bf93c3cc.fc1e2",
                "dda686c.918d478",
                "2205de93.716ec2",
                "4770d4d2.177abc",
                "83be57ce.131fe8",
                "ef8422e2.1fbb2"
            ]
        ],
        "l": false
    },
    {
        "id": "6696390f.a653a8",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "ValueAnalyze",
        "func": "//INICIALIZA A VARIÁVEL DE AVISO\nvar warning = 0;\n//condicionais que protejem de valores superiores ou inferiores dos limites que são suportados\nif((msg.payload.temMin<0)||(msg.payload.temMin>50)||(msg.payload.moiMin<0)||(msg.payload.moiMin>100))\n{\n    warning = 1;\n}\nif((msg.payload.temMax<0)||(msg.payload.temMax>50)||(msg.payload.moiMax<0)||(msg.payload.moiMax>100))\n{\n    warning = 1;\n}\n//condicional para quando o valor mínimo é maior ou igual ao máximo\nif((msg.payload.temMin>=msg.payload.temMax)||(msg.payload.moiMin>=msg.payload.moiMax))\n{\n    warning = 1;\n}\n//GUARDA O VALOR ATUAL DA VARIÁVEL\nflow.set('warning',warning);\n//caso os valores estajam de acordo com o esperado, envia a string convertida para o ARM\nif(warning===0){\n    var string = msg.payload.temMin+\" \"+msg.payload.temMax+\" \"+msg.payload.moiMin+\" \"+msg.payload.moiMax+\" \"+msg.payload.rgb.r+\" \"+msg.payload.rgb.g+\" \"+msg.payload.rgb.b;\n    //preenche os espaços necessários para uma string de 25c\n    var size = string.length;\n    if(size<25)\n    {\n        for ( var i=0; i<(25-size); i++)\n        {\n            string += \" \";\n        }\n    }\n    msg.payload = string;\n}\nelse{\nmsg.payload = \"\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 860,
        "wires": [
            [
                "4ba1dfd6.499b5",
                "a51a79e.343bd88",
                "dd788a55.2aa008"
            ]
        ]
    },
    {
        "id": "dda686c.918d478",
        "type": "ui_text_input",
        "z": "815170dd.fddee",
        "name": "TempMin",
        "label": "Temperature Minimum [>0°C]",
        "tooltip": "",
        "group": "a6e7b68d.5ee648",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "1",
        "topic": "temMin",
        "x": 500,
        "y": 680,
        "wires": [
            [
                "b64a1517.7a4a18"
            ]
        ]
    },
    {
        "id": "2205de93.716ec2",
        "type": "ui_text_input",
        "z": "815170dd.fddee",
        "name": "TempMax",
        "label": "Temperature Maximum [<50°C]",
        "tooltip": "",
        "group": "a6e7b68d.5ee648",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "1",
        "topic": "temMax",
        "x": 500,
        "y": 720,
        "wires": [
            [
                "b64a1517.7a4a18"
            ]
        ]
    },
    {
        "id": "4770d4d2.177abc",
        "type": "ui_text_input",
        "z": "815170dd.fddee",
        "name": "MoisMin",
        "label": "Moisture Minumum [>0%]",
        "tooltip": "",
        "group": "a6e7b68d.5ee648",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "1",
        "topic": "moiMin",
        "x": 500,
        "y": 760,
        "wires": [
            [
                "b64a1517.7a4a18"
            ]
        ]
    },
    {
        "id": "83be57ce.131fe8",
        "type": "ui_text_input",
        "z": "815170dd.fddee",
        "name": "MoisMax",
        "label": "Moisture Maximum [<100%]",
        "tooltip": "",
        "group": "a6e7b68d.5ee648",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "1",
        "topic": "moiMax",
        "x": 500,
        "y": 800,
        "wires": [
            [
                "b64a1517.7a4a18"
            ]
        ]
    },
    {
        "id": "a51a79e.343bd88",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "WarningNotify",
        "func": "//SE A NOTIFICAÇÃO FOI LIDA\nif(msg.payload == \"OK\"){\n    flow.set('warning', 0);\n}\n\n//SE OS VALORES ESTÃO INCOERENTES\nvar warning = flow.get('warning');\nif(warning!==0){\n    msg.payload = \"Os valores estão fora dos limites!\";\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 920,
        "wires": [
            [
                "efbb00cc.b9add"
            ]
        ]
    },
    {
        "id": "efbb00cc.b9add",
        "type": "ui_toast",
        "z": "815170dd.fddee",
        "position": "dialog",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "AVISO",
        "name": "Notification",
        "x": 990,
        "y": 920,
        "wires": [
            [
                "a51a79e.343bd88"
            ]
        ]
    },
    {
        "id": "9347a0ed.c7a34",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "//SE A ESTUFA ESTÁ DESATIVADA\nif(msg.payload.Status===0){\n//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO, COM A COR GREY\n    msg.payload =   \n        [{   \"command\"       : \"update_attribute\",\n            \"selector\"      : \"#alfaColor_P\",\n            \"attributeName\" : \"style\",\n            \"attributeValue\": \"stop-color: grey; stop-opacity: 1;\",\n        },\n        {   \"command\"       : \"update_attribute\",\n            \"selector\"      : \"#alfaColor_P\",\n            \"attributeName\" : \"offset\",\n            \"attributeValue\": \"100%\",\n        }];\n}\nelse{\n//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO, COM A COR LIGHTGREY\n    msg.payload =   \n        [{   \"command\"       : \"update_attribute\",\n            \"selector\"      : \"#alfaColor_P\",\n            \"attributeName\" : \"style\",\n            \"attributeValue\": \"stop-color: lightgrey; stop-opacity: 1;\"\n        },\n        {   \"command\"       : \"update_attribute\",\n            \"selector\"      : \"#alfaColor_P\",\n            \"attributeName\" : \"offset\",\n            \"attributeValue\": ((100-2*msg.payload.Power)+\"%\")\n        }];\n}\n//LIMPA O TÓPICO DA MSG\nmsg.topic = \"\";\n//RETORNA MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 500,
        "wires": [
            [
                "cbff075c.a0ff38"
            ]
        ]
    },
    {
        "id": "cbff075c.a0ff38",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "2dde741c.3f25ec",
        "order": 2,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"alfaPower\" xlink:href=\"#alfaPower_icon\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:url(#alfaPower_);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"alfaPower_icon\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 320 512\">\n    <path d=\"M296 160H180.6l42.6-129.8C227.2 15 215.7 0 200 0H56C44 0 33.8 8.9 32.2 20.8l-32 240C-1.7 275.2 9.5 288 24 288h118.7L96.6 482.5c-3.6 15.2 8 29.5 23.3 29.5 8.4 0 16.4-4.4 20.8-12l176-304c9.3-15.9-2.2-36-20.7-36z\" />\n  </symbol>\n  <linearGradient id=\"alfaPower_\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop id=\"alfaColor_P\" offset=\"100%\" style=\"stop-color: grey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: firebrick; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Power [ALFA]",
        "x": 1340,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "282f85da.3d5caa",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "2dde741c.3f25ec",
        "order": 3,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"betaPower\" xlink:href=\"#betaPower_icon\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:url(#betaPower_);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"betaPower_icon\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 320 512\">\n    <path d=\"M296 160H180.6l42.6-129.8C227.2 15 215.7 0 200 0H56C44 0 33.8 8.9 32.2 20.8l-32 240C-1.7 275.2 9.5 288 24 288h118.7L96.6 482.5c-3.6 15.2 8 29.5 23.3 29.5 8.4 0 16.4-4.4 20.8-12l176-304c9.3-15.9-2.2-36-20.7-36z\" />\n  </symbol>\n  <linearGradient id=\"betaPower_\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop id=\"betaColor_P\" offset=\"100%\" style=\"stop-color: grey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: firebrick; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Power [BETA]",
        "x": 1760,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "7ceba33e.f9b50c",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "2dde741c.3f25ec",
        "order": 4,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"gamaPower\" xlink:href=\"#gamaPower_icon\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:url(#gamaPower_);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"gamaPower_icon\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 320 512\">\n    <path d=\"M296 160H180.6l42.6-129.8C227.2 15 215.7 0 200 0H56C44 0 33.8 8.9 32.2 20.8l-32 240C-1.7 275.2 9.5 288 24 288h118.7L96.6 482.5c-3.6 15.2 8 29.5 23.3 29.5 8.4 0 16.4-4.4 20.8-12l176-304c9.3-15.9-2.2-36-20.7-36z\" />\n  </symbol>\n  <linearGradient id=\"gamaPower_\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop id=\"gamaColor_P\" offset=\"100%\" style=\"stop-color: grey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: firebrick; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Power [GAMA]",
        "x": 2180,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4e8e8835.467ac8",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "2dde741c.3f25ec",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "Power_label [ALFA]",
        "label": "Alfa Power",
        "format": "{{msg.payload.Power}}W",
        "layout": "col-center",
        "x": 1210,
        "y": 300,
        "wires": []
    },
    {
        "id": "a438bd2d.16e54",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "2dde741c.3f25ec",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "Power_label [BETA]",
        "label": "Beta Power",
        "format": "{{msg.payload.Power}}W",
        "layout": "col-center",
        "x": 1640,
        "y": 300,
        "wires": []
    },
    {
        "id": "999006e6.b2fd08",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "2dde741c.3f25ec",
        "order": 11,
        "width": 3,
        "height": 1,
        "name": "Power_label [GAMA]",
        "label": "Gama Power",
        "format": "{{msg.payload.Power}}W",
        "layout": "col-center",
        "x": 2060,
        "y": 300,
        "wires": []
    },
    {
        "id": "121a6260.53745e",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "2dde741c.3f25ec",
        "order": 1,
        "width": 12,
        "height": 1,
        "name": "InfoTurnOnOff",
        "label": "",
        "format": "Pressione o botão para desligar/religar as estufas",
        "layout": "col-center",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "f03332f7.81f3e",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO \nmsg.payload =   \n    {   \"command\"       : \"update_attribute\",\n        \"selector\"      : \"#betaColor_L\",\n        \"attributeName\" : \"offset\",\n        \"attributeValue\": (100-msg.payload.Light+\"%\")\n    };\n//LIMPA O TÓPICO DA MSG\nmsg.topic = \"\";\n//RETORNA MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 380,
        "wires": [
            [
                "69f42c49.f41294"
            ]
        ]
    },
    {
        "id": "685bb315.7cc96c",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO \nmsg.payload =   \n    {   \"command\"       : \"update_attribute\",\n        \"selector\"      : \"#betaColor_H\",\n        \"attributeName\" : \"offset\",\n        \"attributeValue\": (100-msg.payload.Humidity+\"%\")\n    };\n//LIMPA O TÓPICO DA MSG\nmsg.topic = \"\";\n//RETORNA MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 420,
        "wires": [
            [
                "4cd5910a.174ca"
            ]
        ]
    },
    {
        "id": "7ee5c9cd.9b2238",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO \nmsg.payload =   \n    {   \"command\"       : \"update_attribute\",\n        \"selector\"      : \"#betaColor_M\",\n        \"attributeName\" : \"offset\",\n        \"attributeValue\": (100-msg.payload.Moisture+\"%\")\n    };\n//LIMPA O TÓPICO DA MSG\nmsg.topic = \"\";\n//RETORNA MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 460,
        "wires": [
            [
                "88b7f9ec.edb408"
            ]
        ]
    },
    {
        "id": "234b386c.c748a8",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "//SE A ESTUFA ESTÁ DESATIVADA\nif(msg.payload.Status===0){\n//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO, COM A COR GREY\n    msg.payload =   \n        [{   \"command\"       : \"update_attribute\",\n            \"selector\"      : \"#betaColor_P\",\n            \"attributeName\" : \"style\",\n            \"attributeValue\": \"stop-color: grey; stop-opacity: 1;\",\n        },\n        {   \"command\"       : \"update_attribute\",\n            \"selector\"      : \"#betaColor_P\",\n            \"attributeName\" : \"offset\",\n            \"attributeValue\": \"100%\",\n        }];\n}\nelse{\n//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO, COM A COR LIGHTGREY\n    msg.payload =   \n        [{   \"command\"       : \"update_attribute\",\n            \"selector\"      : \"#betaColor_P\",\n            \"attributeName\" : \"style\",\n            \"attributeValue\": \"stop-color: lightgrey; stop-opacity: 1;\"\n        },\n        {   \"command\"       : \"update_attribute\",\n            \"selector\"      : \"#betaColor_P\",\n            \"attributeName\" : \"offset\",\n            \"attributeValue\": ((100-2*msg.payload.Power)+\"%\")\n        }];\n}\n//LIMPA O TÓPICO DA MSG\nmsg.topic = \"\";\n//RETORNA MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 500,
        "wires": [
            [
                "282f85da.3d5caa"
            ]
        ]
    },
    {
        "id": "b73f2bd5.6caa28",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO \nmsg.payload =   \n    {   \"command\"       : \"update_attribute\",\n        \"selector\"      : \"#gamaColor_L\",\n        \"attributeName\" : \"offset\",\n        \"attributeValue\": (100-msg.payload.Light+\"%\")\n    };\n//LIMPA O TÓPICO DA MSG\nmsg.topic = \"\";\n//RETORNA MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2010,
        "y": 380,
        "wires": [
            [
                "cb98e2f9.b6891"
            ]
        ]
    },
    {
        "id": "7782ebc8.75e1e4",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO \nmsg.payload =   \n    {   \"command\"       : \"update_attribute\",\n        \"selector\"      : \"#gamaColor_H\",\n        \"attributeName\" : \"offset\",\n        \"attributeValue\": (100-msg.payload.Humidity+\"%\")\n    };\n//LIMPA O TÓPICO DA MSG\nmsg.topic = \"\";\n//RETORNA MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2010,
        "y": 420,
        "wires": [
            [
                "d256633b.27507"
            ]
        ]
    },
    {
        "id": "aab2f95.2274508",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO \nmsg.payload =   \n    {   \"command\"       : \"update_attribute\",\n        \"selector\"      : \"#gamaColor_M\",\n        \"attributeName\" : \"offset\",\n        \"attributeValue\": (100-msg.payload.Moisture+\"%\")\n    };\n//LIMPA O TÓPICO DA MSG\nmsg.topic = \"\";\n//RETORNA MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2010,
        "y": 460,
        "wires": [
            [
                "100ce000.16ba"
            ]
        ]
    },
    {
        "id": "81d093fa.7101e",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "",
        "func": "//SE A ESTUFA ESTÁ DESATIVADA\nif(msg.payload.Status===0){\n//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO, COM A COR GREY\n    msg.payload =   \n        [{   \"command\"       : \"update_attribute\",\n            \"selector\"      : \"#gamaColor_P\",\n            \"attributeName\" : \"style\",\n            \"attributeValue\": \"stop-color: grey; stop-opacity: 1;\",\n        },\n        {   \"command\"       : \"update_attribute\",\n            \"selector\"      : \"#gamaColor_P\",\n            \"attributeName\" : \"offset\",\n            \"attributeValue\": \"100%\",\n        }];\n}\nelse{\n//CONSTRÓI A ATUALIZAÇÃO DO ATRIBUTO \"OFFSET\" USANDO O VALOR MEDIDO, COM A COR LIGHTGREY\n    msg.payload =   \n        [{   \"command\"       : \"update_attribute\",\n            \"selector\"      : \"#gamaColor_P\",\n            \"attributeName\" : \"style\",\n            \"attributeValue\": \"stop-color: lightgrey; stop-opacity: 1;\"\n        },\n        {   \"command\"       : \"update_attribute\",\n            \"selector\"      : \"#gamaColor_P\",\n            \"attributeName\" : \"offset\",\n            \"attributeValue\": ((100-2*msg.payload.Power)+\"%\")\n        }];\n}\n//LIMPA O TÓPICO DA MSG\nmsg.topic = \"\";\n//RETORNA MSG\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2010,
        "y": 500,
        "wires": [
            [
                "7ceba33e.f9b50c"
            ]
        ]
    },
    {
        "id": "3af67163.e01aae",
        "type": "ui_switch",
        "z": "815170dd.fddee",
        "name": "On / Off",
        "label": "",
        "tooltip": "",
        "group": "2dde741c.3f25ec",
        "order": 6,
        "width": 2,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-power-off fa-5x",
        "oncolor": "crimson",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-power-off fa-5x",
        "offcolor": "seagreen",
        "x": 680,
        "y": 720,
        "wires": [
            [
                "187dd147.9e5eaf"
            ]
        ]
    },
    {
        "id": "187dd147.9e5eaf",
        "type": "function",
        "z": "815170dd.fddee",
        "name": "CodeTurnOnOff",
        "func": "//SE RECEBEU VERDADEIRO, ENVIA O CÓDIGO DE REATIVAÇÃO\nif(msg.payload===true){\n    msg.payload=\"0 99 0 99 255 255 255    \";\n}\n//SE RECEBEU FALSO, ENVIA O CÓDIGO DE DESLIGAMENTO\nif(msg.payload===false){\n    msg.payload=\"0 88 0 99 255 255 255    \";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 720,
        "wires": [
            [
                "4ba1dfd6.499b5"
            ]
        ]
    },
    {
        "id": "21ec3407.ad1e8c",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Controle de Ligamento/Desligamento",
        "info": "",
        "x": 770,
        "y": 780,
        "wires": []
    },
    {
        "id": "36cd741f.824dbc",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Definições das estufas",
        "info": "",
        "x": 440,
        "y": 980,
        "wires": []
    },
    {
        "id": "471a4ca1.2ef3f4",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Junção das definições",
        "info": "",
        "x": 660,
        "y": 980,
        "wires": []
    },
    {
        "id": "5508d24a.6a9b3c",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Análise e notificação de erro",
        "info": "",
        "x": 900,
        "y": 980,
        "wires": []
    },
    {
        "id": "e075a5e4.edee78",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Envio ao tópico de atuadores",
        "info": "",
        "x": 1160,
        "y": 980,
        "wires": []
    },
    {
        "id": "f977376.c5253c8",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Recebimento local das definições",
        "info": "",
        "x": 490,
        "y": 1120,
        "wires": []
    },
    {
        "id": "3b0efbaa.9da694",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Envio local das informações",
        "info": "",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "4bf4aeff.8e841",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Anexa o horário do envio",
        "info": "",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "4f09d080.9870b",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Envio ao tópico de sensores",
        "info": "",
        "x": 960,
        "y": 540,
        "wires": []
    },
    {
        "id": "6efafcd4.a00574",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Conversão dos dados",
        "info": "",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "4efb8cde.c26594",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Recebimento local dos dados coletados",
        "info": "",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "94b22769.d1dcb8",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Separação das estufas",
        "info": "",
        "x": 920,
        "y": 420,
        "wires": []
    },
    {
        "id": "d353d812.60e968",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Interface gráfica e apresentação visual dos dados de cada estufa",
        "info": "",
        "x": 1690,
        "y": 560,
        "wires": []
    },
    {
        "id": "9e08d1b4.34114",
        "type": "ui_text",
        "z": "815170dd.fddee",
        "group": "a6e7b68d.5ee648",
        "order": 1,
        "width": 12,
        "height": 1,
        "name": "InfoDefinitions",
        "label": "",
        "format": "*Sempre atualize TODOS os parâmetros",
        "layout": "col-center",
        "x": 480,
        "y": 920,
        "wires": []
    },
    {
        "id": "69f42c49.f41294",
        "type": "ui_svg_graphics",
        "z": "815170dd.fddee",
        "group": "868f50bf.00a19",
        "order": 4,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"betaLightness\" xlink:href=\"#betaLightbulb\" x=\"50\" y=\"0\" width=\"200\" height=\"300\" style=\"fill:url(#betaLightness_);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"betaLightbulb\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\">\n    <path d=\"M96.06 454.35c.01 6.29 1.87 12.45 5.36 17.69l17.09 25.69a31.99 31.99 0 0 0 26.64 14.28h61.71a31.99 31.99 0 0 0 26.64-14.28l17.09-25.69a31.989 31.989 0 0 0 5.36-17.69l.04-38.35H96.01l.05 38.35zM0 176c0 44.37 16.45 84.85 43.56 115.78 16.52 18.85 42.36 58.23 52.21 91.45.04.26.07.52.11.78h160.24c.04-.26.07-.51.11-.78 9.85-33.22 35.69-72.6 52.21-91.45C335.55 260.85 352 220.37 352 176 352 78.61 272.91-.3 175.45 0 73.44.31 0 82.97 0 176zm176-80c-44.11 0-80 35.89-80 80 0 8.84-7.16 16-16 16s-16-7.16-16-16c0-61.76 50.24-112 112-112 8.84 0 16 7.16 16 16s-7.16 16-16 16z\" />\n  </symbol>\n  <linearGradient id=\"betaLightness_\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop id=\"betaColor_L\" offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Lightness [BETA]",
        "x": 1770,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "dd788a55.2aa008",
        "type": "change",
        "z": "815170dd.fddee",
        "name": "ResetValues",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 860,
        "wires": [
            [
                "dda686c.918d478",
                "2205de93.716ec2",
                "4770d4d2.177abc",
                "83be57ce.131fe8",
                "ef8422e2.1fbb2"
            ]
        ]
    },
    {
        "id": "1d2df954.24dc77",
        "type": "comment",
        "z": "815170dd.fddee",
        "name": "Reseta os valores",
        "info": "",
        "x": 290,
        "y": 820,
        "wires": []
    },
    {
        "id": "eb8b6c6e.fe086",
        "type": "debug",
        "z": "815170dd.fddee",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7f61345c.d3baac",
        "type": "mqtt-broker",
        "z": "",
        "name": "EclipseCrypto",
        "broker": "mqtt.eclipse.org",
        "port": "8883",
        "tls": "e80cecc6.82ca9",
        "clientid": "",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4ae9a96a.683c28",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "}",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "bf26d515.9d7f08",
        "type": "ui_group",
        "z": "",
        "name": "ESTUFA ALFA",
        "tab": "38f8cdfb.1b7712",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "66ea7126.e404b",
        "type": "ui_group",
        "z": "",
        "name": "ESTUFA GAMA",
        "tab": "38f8cdfb.1b7712",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "868f50bf.00a19",
        "type": "ui_group",
        "z": "",
        "name": "ESTUFA BETA",
        "tab": "38f8cdfb.1b7712",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "a6e7b68d.5ee648",
        "type": "ui_group",
        "z": "",
        "name": "CONTROLE DAS ESTUFAS",
        "tab": "38f8cdfb.1b7712",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "2dde741c.3f25ec",
        "type": "ui_group",
        "z": "",
        "name": "CONSUMO ELÉTRICO",
        "tab": "38f8cdfb.1b7712",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "e80cecc6.82ca9",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "38f8cdfb.1b7712",
        "type": "ui_tab",
        "z": "",
        "name": "MeuTrecoNaInternet",
        "icon": "filter_vintage",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]