flows.json
[
    {
        "id": "9ca1a62b.270388",
        "type": "tab",
        "label": "MeuTrecoNaInternet",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fc378378.46769",
        "type": "debug",
        "z": "9ca1a62b.270388",
        "name": "UsartRX",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 360,
        "y": 440,
        "wires": []
    },
    {
        "id": "386319d4.8b08a6",
        "type": "debug",
        "z": "9ca1a62b.270388",
        "name": "ToJSON",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "990972ae.035f1",
        "type": "json",
        "z": "9ca1a62b.270388",
        "name": "BufferToJSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 540,
        "y": 360,
        "wires": [
            [
                "386319d4.8b08a6",
                "375e507d.a1291"
            ]
        ]
    },
    {
        "id": "a42a9e70.d9db6",
        "type": "function",
        "z": "9ca1a62b.270388",
        "name": "Date Function",
        "func": "var date = new Date();\ndate = (('00' + date.getDate()).slice(-2)+\"/\"+('00' + (date.getMonth()+1)).slice(-2)+\"/\"+date.getFullYear()+\" - \"+('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2)+\"\\\"}\");\nmsg.payload = msg.payload.replace(\"}\",\", \\\"Date\\\": \\\"\") + date;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 480,
        "wires": [
            [
                "7bc105b6.73143c",
                "99e32786.ad4788"
            ]
        ]
    },
    {
        "id": "7bc105b6.73143c",
        "type": "debug",
        "z": "9ca1a62b.270388",
        "name": "MQTT_Tx",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "eb784405.bf80d8",
        "type": "mqtt out",
        "z": "9ca1a62b.270388",
        "name": "Atuadores",
        "topic": "EstufaAutomatica/Atuadores",
        "qos": "0",
        "retain": "false",
        "broker": "78f9fe1f.71002",
        "x": 690,
        "y": 760,
        "wires": []
    },
    {
        "id": "e16d2752.1fbb68",
        "type": "inject",
        "z": "9ca1a62b.270388",
        "name": "Tmin,Tmax,Mmin,Mmax,Lmin,Lmax",
        "topic": "",
        "payload": "15.0 20.0 00.0 99.9 00.0 99.9",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 440,
        "y": 760,
        "wires": [
            [
                "eb784405.bf80d8"
            ]
        ]
    },
    {
        "id": "b12ed52d.b9be48",
        "type": "serial out",
        "z": "9ca1a62b.270388",
        "name": "",
        "serial": "b593d30e.773ba",
        "x": 490,
        "y": 820,
        "wires": []
    },
    {
        "id": "790a9122.3793d",
        "type": "serial in",
        "z": "9ca1a62b.270388",
        "name": "",
        "serial": "b593d30e.773ba",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "fc378378.46769",
                "a42a9e70.d9db6"
            ]
        ]
    },
    {
        "id": "99e32786.ad4788",
        "type": "mqtt out",
        "z": "9ca1a62b.270388",
        "name": "Sensores",
        "topic": "EstufaAutomatica/Sensores",
        "qos": "0",
        "retain": "false",
        "broker": "78f9fe1f.71002",
        "x": 740,
        "y": 480,
        "wires": []
    },
    {
        "id": "8f56e126.7c5ef",
        "type": "ui_gauge",
        "z": "9ca1a62b.270388",
        "name": "Luminosidade [ALFA]",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "",
        "label": "Luminosidade [%]",
        "format": "{{msg.payload.Light}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#2d3eb0",
            "#829fe3",
            "#a8e0fb"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 1060,
        "y": 100,
        "wires": []
    },
    {
        "id": "88fa8304.afefe",
        "type": "ui_gauge",
        "z": "9ca1a62b.270388",
        "name": "Umidade do Ar [ALFA]",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "",
        "label": "Umidade do Ar [%]",
        "format": "{{msg.payload.Humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#bfbb1e",
            "#e88a2d",
            "#e7361d"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 1060,
        "y": 140,
        "wires": []
    },
    {
        "id": "f643abe3.e950b8",
        "type": "ui_gauge",
        "z": "9ca1a62b.270388",
        "name": "Temperatura [ALFA]",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "",
        "label": "Temperatura [°C]",
        "format": "{{msg.payload.Temperature}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00ffff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "10",
        "seg2": "40",
        "x": 1060,
        "y": 60,
        "wires": []
    },
    {
        "id": "5c55fc46.7d8184",
        "type": "ui_gauge",
        "z": "9ca1a62b.270388",
        "name": "Umidade Solo [ALFA]",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "",
        "label": "Umidade do Solo [%]",
        "format": "{{msg.payload.Moisture}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1060,
        "y": 180,
        "wires": []
    },
    {
        "id": "d67f0d71.66412",
        "type": "ui_gauge",
        "z": "9ca1a62b.270388",
        "name": "Luminosidade [BETA]",
        "group": "105cd833.413048",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "",
        "label": "Luminosidade [%]",
        "format": "{{msg.payload.Light}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#2d3eb0",
            "#829fe3",
            "#a8e0fb"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 1060,
        "y": 320,
        "wires": []
    },
    {
        "id": "9ee9d6ff.12da28",
        "type": "ui_gauge",
        "z": "9ca1a62b.270388",
        "name": "Umidade do Ar [BETA]",
        "group": "105cd833.413048",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "",
        "label": "Umidade do Ar [%]",
        "format": "{{msg.payload.Humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#bfbb1e",
            "#e88a2d",
            "#e7361d"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 1060,
        "y": 360,
        "wires": []
    },
    {
        "id": "b0f53ff1.168ae",
        "type": "ui_gauge",
        "z": "9ca1a62b.270388",
        "name": "Temperatura [BETA]",
        "group": "105cd833.413048",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "",
        "label": "Temperatura [°C]",
        "format": "{{msg.payload.Temperature}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00ffff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "10",
        "seg2": "40",
        "x": 1060,
        "y": 280,
        "wires": []
    },
    {
        "id": "4aceb0ca.59cf1",
        "type": "ui_gauge",
        "z": "9ca1a62b.270388",
        "name": "Umidade Solo [BETA]",
        "group": "105cd833.413048",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "",
        "label": "Umidade do Solo [%]",
        "format": "{{msg.payload.Moisture}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1060,
        "y": 400,
        "wires": []
    },
    {
        "id": "31a85642.0f64fa",
        "type": "ui_gauge",
        "z": "9ca1a62b.270388",
        "name": "Luminosidade [GAMA]",
        "group": "eb2f5a94.b9deb8",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "",
        "label": "Luminosidade [%]",
        "format": "{{msg.payload.Light}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#2d3eb0",
            "#829fe3",
            "#a8e0fb"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "403c6633.270da8",
        "type": "ui_gauge",
        "z": "9ca1a62b.270388",
        "name": "Umidade Ar [GAMA]",
        "group": "eb2f5a94.b9deb8",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "",
        "label": "Umidade do Ar [%]",
        "format": "{{msg.payload.Humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#bfbb1e",
            "#e88a2d",
            "#e7361d"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 1060,
        "y": 580,
        "wires": []
    },
    {
        "id": "b176cd82.14138",
        "type": "ui_gauge",
        "z": "9ca1a62b.270388",
        "name": "Temperatura [GAMA]",
        "group": "eb2f5a94.b9deb8",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "",
        "label": "Temperatura [°C]",
        "format": "{{msg.payload.Temperature}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00ffff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "10",
        "seg2": "40",
        "x": 1060,
        "y": 500,
        "wires": []
    },
    {
        "id": "f4ef240b.56ff38",
        "type": "ui_gauge",
        "z": "9ca1a62b.270388",
        "name": "Umidade Solo [GAMA]",
        "group": "eb2f5a94.b9deb8",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "",
        "label": "Umidade do Solo [%]",
        "format": "{{msg.payload.Moisture}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1060,
        "y": 620,
        "wires": []
    },
    {
        "id": "77f2ea2f.05c944",
        "type": "mqtt in",
        "z": "9ca1a62b.270388",
        "name": "Atuadores",
        "topic": "EstufaAutomatica/Atuadores",
        "qos": "0",
        "datatype": "auto",
        "broker": "78f9fe1f.71002",
        "x": 340,
        "y": 820,
        "wires": [
            [
                "b12ed52d.b9be48"
            ]
        ]
    },
    {
        "id": "cc8a4ca6.0c606",
        "type": "mqtt in",
        "z": "9ca1a62b.270388",
        "name": "Sensores",
        "topic": "EstufaAutomatica/Sensores",
        "qos": "0",
        "datatype": "auto",
        "broker": "78f9fe1f.71002",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "13ebb46.239534c",
                "990972ae.035f1"
            ]
        ]
    },
    {
        "id": "375e507d.a1291",
        "type": "switch",
        "z": "9ca1a62b.270388",
        "name": "Identificação da Estufa",
        "property": "payload.Name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ALFA",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BETA",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GAMA",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 760,
        "y": 360,
        "wires": [
            [
                "f643abe3.e950b8",
                "8f56e126.7c5ef",
                "88fa8304.afefe",
                "5c55fc46.7d8184",
                "bab60343.30a3e"
            ],
            [
                "b0f53ff1.168ae",
                "d67f0d71.66412",
                "9ee9d6ff.12da28",
                "4aceb0ca.59cf1",
                "6f65f48d.8d412c"
            ],
            [
                "b176cd82.14138",
                "31a85642.0f64fa",
                "403c6633.270da8",
                "f4ef240b.56ff38",
                "4e22ed82.52dbf4"
            ]
        ]
    },
    {
        "id": "13ebb46.239534c",
        "type": "debug",
        "z": "9ca1a62b.270388",
        "name": "MQTT_Rx",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 350,
        "y": 320,
        "wires": []
    },
    {
        "id": "bab60343.30a3e",
        "type": "ui_text",
        "z": "9ca1a62b.270388",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Atualização [ALFA]",
        "label": "Atualizado em ",
        "format": "{{msg.payload.Date}}",
        "layout": "row-center",
        "x": 1050,
        "y": 220,
        "wires": []
    },
    {
        "id": "4e22ed82.52dbf4",
        "type": "ui_text",
        "z": "9ca1a62b.270388",
        "group": "eb2f5a94.b9deb8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Atualização [GAMA]",
        "label": "Atualizado em ",
        "format": "{{msg.payload.Date}}",
        "layout": "row-center",
        "x": 1060,
        "y": 660,
        "wires": []
    },
    {
        "id": "6f65f48d.8d412c",
        "type": "ui_text",
        "z": "9ca1a62b.270388",
        "group": "105cd833.413048",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Atualização [BETA]",
        "label": "Atualizado em ",
        "format": "{{msg.payload.Date}}",
        "layout": "row-center",
        "x": 1050,
        "y": 440,
        "wires": []
    },
    {
        "id": "78f9fe1f.71002",
        "type": "mqtt-broker",
        "z": "",
        "name": "Eclipse_Broker",
        "broker": "mqtt.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b593d30e.773ba",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "}",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "z": "",
        "name": "ESTUFA ALFA",
        "tab": "d13f7a10.50eff8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "105cd833.413048",
        "type": "ui_group",
        "z": "",
        "name": "ESTUFA BETA",
        "tab": "d13f7a10.50eff8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "eb2f5a94.b9deb8",
        "type": "ui_group",
        "z": "",
        "name": "ESTUFA GAMA",
        "tab": "d13f7a10.50eff8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d13f7a10.50eff8",
        "type": "ui_tab",
        "z": "",
        "name": "MeuTrecoNaInternet",
        "icon": "filter_vintage",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]