flows.json
[
    {
        "id": "36088eac.626c12",
        "type": "tab",
        "label": "MeuTrecoNaInternet",
        "disabled": false,
        "info": ""
    },
    {
        "id": "799ea8b9.290ba8",
        "type": "debug",
        "z": "36088eac.626c12",
        "name": "UsartRX",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 360,
        "y": 440,
        "wires": []
    },
    {
        "id": "9e16f6dc.c5ecd8",
        "type": "debug",
        "z": "36088eac.626c12",
        "name": "ToJSON",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "c135464d.b9a248",
        "type": "json",
        "z": "36088eac.626c12",
        "name": "BufferToJSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 540,
        "y": 360,
        "wires": [
            [
                "9e16f6dc.c5ecd8",
                "7bd47f05.3a85b"
            ]
        ]
    },
    {
        "id": "a31391f8.bd0a",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "Date Function",
        "func": "var date = new Date();\ndate = (('00' + date.getDate()).slice(-2)+\"/\"+('00' + (date.getMonth()+1)).slice(-2)+\"/\"+date.getFullYear()+\" - \"+('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2)+\"\\\"}\");\nmsg.payload = msg.payload.replace(\"}\",\", \\\"Date\\\": \\\"\") + date;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 480,
        "wires": [
            [
                "6e32d218.ba364c",
                "69ed648e.c81dcc"
            ]
        ]
    },
    {
        "id": "6e32d218.ba364c",
        "type": "debug",
        "z": "36088eac.626c12",
        "name": "MQTT_Tx",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "1cfa9fa4.9a7af",
        "type": "mqtt out",
        "z": "36088eac.626c12",
        "name": "Atuadores",
        "topic": "EstufaAutomatica/Atuadores",
        "qos": "0",
        "retain": "false",
        "broker": "e51f551a.32fa38",
        "x": 790,
        "y": 820,
        "wires": []
    },
    {
        "id": "634189.dee34e78",
        "type": "serial out",
        "z": "36088eac.626c12",
        "name": "",
        "serial": "aea72efb.b292c",
        "x": 630,
        "y": 900,
        "wires": []
    },
    {
        "id": "2e9737ec.d573b8",
        "type": "serial in",
        "z": "36088eac.626c12",
        "name": "",
        "serial": "aea72efb.b292c",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "799ea8b9.290ba8",
                "a31391f8.bd0a"
            ]
        ]
    },
    {
        "id": "69ed648e.c81dcc",
        "type": "mqtt out",
        "z": "36088eac.626c12",
        "name": "Sensores",
        "topic": "EstufaAutomatica/Sensores",
        "qos": "0",
        "retain": "false",
        "broker": "e51f551a.32fa38",
        "x": 740,
        "y": 480,
        "wires": []
    },
    {
        "id": "b329ade8.f490a",
        "type": "mqtt in",
        "z": "36088eac.626c12",
        "name": "Atuadores",
        "topic": "EstufaAutomatica/Atuadores",
        "qos": "0",
        "datatype": "auto",
        "broker": "e51f551a.32fa38",
        "x": 480,
        "y": 900,
        "wires": [
            [
                "634189.dee34e78"
            ]
        ]
    },
    {
        "id": "4aa68321.79a78c",
        "type": "mqtt in",
        "z": "36088eac.626c12",
        "name": "Sensores",
        "topic": "EstufaAutomatica/Sensores",
        "qos": "0",
        "datatype": "auto",
        "broker": "e51f551a.32fa38",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "f6e4018f.36e61",
                "c135464d.b9a248"
            ]
        ]
    },
    {
        "id": "7bd47f05.3a85b",
        "type": "switch",
        "z": "36088eac.626c12",
        "name": "Identificação da Estufa",
        "property": "payload.Name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ALFA",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BETA",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GAMA",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 760,
        "y": 360,
        "wires": [
            [
                "4f8bbb86.277b94",
                "6909139c.24989c",
                "ca5ef986.593ae8",
                "172a7ebf.7e4631",
                "47847cd7.644054",
                "f2c57086.37704",
                "9ce594fa.ffea28",
                "57c945b1.2d027c",
                "a4980821.312e58"
            ],
            [
                "68748dd7.206194",
                "b30607cc.5c19d8",
                "827ea6dc.e21818",
                "da85c69c.7cc458",
                "38bb0b5e.fb9724",
                "deac004d.200ac",
                "c0682c16.c8c98",
                "13b101ec.39427e",
                "1ac82a4f.03b756"
            ],
            [
                "fb66e521.73c108",
                "16d08f07.f16b41",
                "f6544e74.0c6f9",
                "ccbb1ceb.dd396",
                "17c3f360.56bcdd",
                "690d176.2694ee8",
                "abc5eece.054dd",
                "4d6e82b9.2de1ec"
            ]
        ]
    },
    {
        "id": "f6e4018f.36e61",
        "type": "debug",
        "z": "36088eac.626c12",
        "name": "MQTT_Rx",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 350,
        "y": 320,
        "wires": []
    },
    {
        "id": "4f8bbb86.277b94",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "6b102e41.e5d07",
        "order": 9,
        "width": 12,
        "height": 1,
        "name": "Atualização [ALFA]",
        "label": "Atualizado em ",
        "format": "{{msg.payload.Date}}",
        "layout": "row-center",
        "x": 1050,
        "y": 40,
        "wires": []
    },
    {
        "id": "ccbb1ceb.dd396",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "237595ce.6279ca",
        "order": 9,
        "width": 12,
        "height": 1,
        "name": "Atualização [GAMA]",
        "label": "Atualizado em ",
        "format": "{{msg.payload.Date}}",
        "layout": "row-center",
        "x": 1040,
        "y": 800,
        "wires": []
    },
    {
        "id": "68748dd7.206194",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "e79f0760.0d92c8",
        "order": 9,
        "width": 12,
        "height": 1,
        "name": "Atualização [BETA]",
        "label": "Atualizado em ",
        "format": "{{msg.payload.Date}}",
        "layout": "row-center",
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "6909139c.24989c",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "if(msg.payload.Temperature<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"midnightblue\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_empty\"\n    }\n    ];\nif((msg.payload.Temperature>10)&&(msg.payload.Temperature<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"navyblue\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_quarter\"\n    }\n    ];\nif((msg.payload.Temperature>20)&&(msg.payload.Temperature<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"gold\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_half\"\n    }\n    ];\nif((msg.payload.Temperature>30)&&(msg.payload.Temperature<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"coral\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_three_quarters\"\n    }\n    ];\nif(msg.payload.Temperature>=40)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"crimson\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_full\"\n    }\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 240,
        "wires": [
            [
                "136ef34d.4bdc0d"
            ]
        ]
    },
    {
        "id": "ca5ef986.593ae8",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "\n\nif(msg.payload.Humidity<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_10);\"\n    },\n    ];\nif((msg.payload.Humidity>10)&&(msg.payload.Humidity<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_20);\"\n    },\n    ];\nif((msg.payload.Humidity>20)&&(msg.payload.Humidity<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_30);\"\n    },\n    ];\nif((msg.payload.Humidity>30)&&(msg.payload.Humidity<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_40);\"\n    },\n    ];\nif((msg.payload.Humidity>40)&&(msg.payload.Humidity<=50))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_50);\"\n    },\n    ];\nif((msg.payload.Humidity>50)&&(msg.payload.Humidity<=60))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_60);\"\n    },\n    ];\nif((msg.payload.Humidity>60)&&(msg.payload.Humidity<=70))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_70);\"\n    },\n    ];\nif((msg.payload.Humidity>70)&&(msg.payload.Humidity<=80))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_80);\"\n    },\n    ];\nif((msg.payload.Humidity>80)&&(msg.payload.Humidity<=90))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_90);\"\n    },\n    ];\nif(msg.payload.Humidity>90)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_100);\"\n    },\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "795fc59b.e184bc"
            ]
        ]
    },
    {
        "id": "7ccf4a4e.78d4f4",
        "type": "ui_svg_graphics",
        "z": "36088eac.626c12",
        "group": "e79f0760.0d92c8",
        "order": 1,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"thermometer\" xlink:href=\"#thermometer_empty\" x=\"75\" y=\"0\" width=\"150\" height=\"300\" fill=\"midnightblue\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"thermometer_empty\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_quarter\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V288c0-17.673 14.327-32 32-32s32 14.327 32 32v40.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_half\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V224c0-17.673 14.327-32 32-32s32 14.327 32 32v104.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_three_quarters\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64-35.346 0-64-28.654-64-64 0-23.685 12.876-44.349 32-55.417V160c0-17.673 14.327-32 32-32s32 14.327 32 32v168.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_full\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M224 96c0-53.019-42.981-96-96-96S32 42.981 32 96v203.347C12.225 321.756.166 351.136.002 383.333c-.359 70.303 56.787 128.176 127.089 128.664.299.002.61.003.909.003 70.698 0 128-57.304 128-128 0-32.459-12.088-62.09-32-84.653V96zm-96 368l-.576-.002c-43.86-.304-79.647-36.544-79.423-80.42.173-33.98 19.266-51.652 31.999-66.08V96c0-26.467 21.533-48 48-48s48 21.533 48 48v221.498c12.63 14.312 32 32.164 32 66.502 0 44.112-35.888 80-80 80zm64-80c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V96c0-17.673 14.327-32 32-32s32 14.327 32 32v232.583c19.124 11.068 32 31.732 32 55.417z\" />\n  </symbol>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": true,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "anotherField",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Temperature [BETA]",
        "x": 1180,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "3c11902e.b2221",
        "type": "ui_svg_graphics",
        "z": "36088eac.626c12",
        "group": "237595ce.6279ca",
        "order": 1,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"thermometer\" xlink:href=\"#thermometer_empty\" x=\"75\" y=\"0\" width=\"150\" height=\"300\" fill=\"midnightblue\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"thermometer_empty\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_quarter\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V288c0-17.673 14.327-32 32-32s32 14.327 32 32v40.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_half\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V224c0-17.673 14.327-32 32-32s32 14.327 32 32v104.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_three_quarters\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64-35.346 0-64-28.654-64-64 0-23.685 12.876-44.349 32-55.417V160c0-17.673 14.327-32 32-32s32 14.327 32 32v168.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_full\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M224 96c0-53.019-42.981-96-96-96S32 42.981 32 96v203.347C12.225 321.756.166 351.136.002 383.333c-.359 70.303 56.787 128.176 127.089 128.664.299.002.61.003.909.003 70.698 0 128-57.304 128-128 0-32.459-12.088-62.09-32-84.653V96zm-96 368l-.576-.002c-43.86-.304-79.647-36.544-79.423-80.42.173-33.98 19.266-51.652 31.999-66.08V96c0-26.467 21.533-48 48-48s48 21.533 48 48v221.498c12.63 14.312 32 32.164 32 66.502 0 44.112-35.888 80-80 80zm64-80c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V96c0-17.673 14.327-32 32-32s32 14.327 32 32v232.583c19.124 11.068 32 31.732 32 55.417z\" />\n  </symbol>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": true,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "anotherField",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Temperature [GAMA]",
        "x": 1180,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "b30607cc.5c19d8",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "if(msg.payload.Temperature<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"midnightblue\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_empty\"\n    }\n    ];\nif((msg.payload.Temperature>10)&&(msg.payload.Temperature<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"navyblue\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_quarter\"\n    }\n    ];\nif((msg.payload.Temperature>20)&&(msg.payload.Temperature<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"gold\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_half\"\n    }\n    ];\nif((msg.payload.Temperature>30)&&(msg.payload.Temperature<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"coral\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_three_quarters\"\n    }\n    ];\nif(msg.payload.Temperature>=40)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"crimson\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_full\"\n    }\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 620,
        "wires": [
            [
                "7ccf4a4e.78d4f4"
            ]
        ]
    },
    {
        "id": "fb66e521.73c108",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "if(msg.payload.Temperature<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"midnightblue\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_empty\"\n    }\n    ];\nif((msg.payload.Temperature>10)&&(msg.payload.Temperature<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"navyblue\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_quarter\"\n    }\n    ];\nif((msg.payload.Temperature>20)&&(msg.payload.Temperature<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"gold\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_half\"\n    }\n    ];\nif((msg.payload.Temperature>30)&&(msg.payload.Temperature<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"coral\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_three_quarters\"\n    }\n    ];\nif(msg.payload.Temperature>=40)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"crimson\"\n    },\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#thermometer\",\n        \"attributeName\": \"xlink:href\",\n        \"attributeValue\": \"#thermometer_full\"\n    }\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1000,
        "wires": [
            [
                "3c11902e.b2221"
            ]
        ]
    },
    {
        "id": "172a7ebf.7e4631",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "if(msg.payload.Light<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_10);\"\n    },\n    ];\nif((msg.payload.Light>10)&&(msg.payload.Light<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_20);\"\n    },\n    ];\nif((msg.payload.Light>20)&&(msg.payload.Light<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_30);\"\n    },\n    ];\nif((msg.payload.Light>30)&&(msg.payload.Light<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_40);\"\n    },\n    ];\nif((msg.payload.Light>40)&&(msg.payload.Light<=50))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_50);\"\n    },\n    ];\nif((msg.payload.Light>50)&&(msg.payload.Light<=60))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_60);\"\n    },\n    ];\nif((msg.payload.Light>60)&&(msg.payload.Light<=70))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_70);\"\n    },\n    ];\nif((msg.payload.Light>70)&&(msg.payload.Light<=80))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_80);\"\n    },\n    ];\nif((msg.payload.Light>80)&&(msg.payload.Light<=90))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_90);\"\n    },\n    ];\nif(msg.payload.Light>90)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_100);\"\n    },\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "97f13339.5bdb1"
            ]
        ]
    },
    {
        "id": "827ea6dc.e21818",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "if(msg.payload.Light<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_10);\"\n    },\n    ];\nif((msg.payload.Light>10)&&(msg.payload.Light<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_20);\"\n    },\n    ];\nif((msg.payload.Light>20)&&(msg.payload.Light<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_30);\"\n    },\n    ];\nif((msg.payload.Light>30)&&(msg.payload.Light<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_40);\"\n    },\n    ];\nif((msg.payload.Light>40)&&(msg.payload.Light<=50))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_50);\"\n    },\n    ];\nif((msg.payload.Light>50)&&(msg.payload.Light<=60))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_60);\"\n    },\n    ];\nif((msg.payload.Light>60)&&(msg.payload.Light<=70))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_70);\"\n    },\n    ];\nif((msg.payload.Light>70)&&(msg.payload.Light<=80))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_80);\"\n    },\n    ];\nif((msg.payload.Light>80)&&(msg.payload.Light<=90))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_90);\"\n    },\n    ];\nif(msg.payload.Light>90)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_100);\"\n    },\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 660,
        "wires": [
            [
                "de8023a4.29843"
            ]
        ]
    },
    {
        "id": "16d08f07.f16b41",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "if(msg.payload.Light<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_10);\"\n    },\n    ];\nif((msg.payload.Light>10)&&(msg.payload.Light<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_20);\"\n    },\n    ];\nif((msg.payload.Light>20)&&(msg.payload.Light<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_30);\"\n    },\n    ];\nif((msg.payload.Light>30)&&(msg.payload.Light<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_40);\"\n    },\n    ];\nif((msg.payload.Light>40)&&(msg.payload.Light<=50))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_50);\"\n    },\n    ];\nif((msg.payload.Light>50)&&(msg.payload.Light<=60))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_60);\"\n    },\n    ];\nif((msg.payload.Light>60)&&(msg.payload.Light<=70))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_70);\"\n    },\n    ];\nif((msg.payload.Light>70)&&(msg.payload.Light<=80))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_80);\"\n    },\n    ];\nif((msg.payload.Light>80)&&(msg.payload.Light<=90))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_90);\"\n    },\n    ];\nif(msg.payload.Light>90)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#lightness\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#lightness_100);\"\n    },\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1040,
        "wires": [
            [
                "594109a.c4b4ff8"
            ]
        ]
    },
    {
        "id": "da85c69c.7cc458",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "\n\nif(msg.payload.Humidity<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_10);\"\n    },\n    ];\nif((msg.payload.Humidity>10)&&(msg.payload.Humidity<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_20);\"\n    },\n    ];\nif((msg.payload.Humidity>20)&&(msg.payload.Humidity<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_30);\"\n    },\n    ];\nif((msg.payload.Humidity>30)&&(msg.payload.Humidity<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_40);\"\n    },\n    ];\nif((msg.payload.Humidity>40)&&(msg.payload.Humidity<=50))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_50);\"\n    },\n    ];\nif((msg.payload.Humidity>50)&&(msg.payload.Humidity<=60))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_60);\"\n    },\n    ];\nif((msg.payload.Humidity>60)&&(msg.payload.Humidity<=70))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_70);\"\n    },\n    ];\nif((msg.payload.Humidity>70)&&(msg.payload.Humidity<=80))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_80);\"\n    },\n    ];\nif((msg.payload.Humidity>80)&&(msg.payload.Humidity<=90))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_90);\"\n    },\n    ];\nif(msg.payload.Humidity>90)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_100);\"\n    },\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 700,
        "wires": [
            [
                "2bb3a460.2f2d1c"
            ]
        ]
    },
    {
        "id": "f6544e74.0c6f9",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "\n\nif(msg.payload.Humidity<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_10);\"\n    },\n    ];\nif((msg.payload.Humidity>10)&&(msg.payload.Humidity<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_20);\"\n    },\n    ];\nif((msg.payload.Humidity>20)&&(msg.payload.Humidity<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_30);\"\n    },\n    ];\nif((msg.payload.Humidity>30)&&(msg.payload.Humidity<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_40);\"\n    },\n    ];\nif((msg.payload.Humidity>40)&&(msg.payload.Humidity<=50))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_50);\"\n    },\n    ];\nif((msg.payload.Humidity>50)&&(msg.payload.Humidity<=60))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_60);\"\n    },\n    ];\nif((msg.payload.Humidity>60)&&(msg.payload.Humidity<=70))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_70);\"\n    },\n    ];\nif((msg.payload.Humidity>70)&&(msg.payload.Humidity<=80))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_80);\"\n    },\n    ];\nif((msg.payload.Humidity>80)&&(msg.payload.Humidity<=90))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_90);\"\n    },\n    ];\nif(msg.payload.Humidity>90)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#humidity\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#humidity_100);\"\n    },\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1080,
        "wires": [
            [
                "c8d182d1.67acf"
            ]
        ]
    },
    {
        "id": "47847cd7.644054",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "6b102e41.e5d07",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Temperature_label [ALFA]",
        "label": "Temperature",
        "format": "{{msg.payload.Temperature}}ºC",
        "layout": "col-center",
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "f2c57086.37704",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "6b102e41.e5d07",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Humidity_label [ALFA]",
        "label": "Humidity",
        "format": "{{msg.payload.Humidity}}%",
        "layout": "col-center",
        "x": 1060,
        "y": 80,
        "wires": []
    },
    {
        "id": "136ef34d.4bdc0d",
        "type": "ui_svg_graphics",
        "z": "36088eac.626c12",
        "group": "6b102e41.e5d07",
        "order": 1,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"thermometer\" xlink:href=\"#thermometer_empty\" x=\"75\" y=\"0\" width=\"150\" height=\"300\" fill=\"midnightblue\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"thermometer_empty\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_quarter\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V288c0-17.673 14.327-32 32-32s32 14.327 32 32v40.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_half\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V224c0-17.673 14.327-32 32-32s32 14.327 32 32v104.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_three_quarters\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M192 384c0 35.346-28.654 64-64 64-35.346 0-64-28.654-64-64 0-23.685 12.876-44.349 32-55.417V160c0-17.673 14.327-32 32-32s32 14.327 32 32v168.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\" />\n  </symbol>\n  <symbol id=\"thermometer_full\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\">\n    <path d=\"M224 96c0-53.019-42.981-96-96-96S32 42.981 32 96v203.347C12.225 321.756.166 351.136.002 383.333c-.359 70.303 56.787 128.176 127.089 128.664.299.002.61.003.909.003 70.698 0 128-57.304 128-128 0-32.459-12.088-62.09-32-84.653V96zm-96 368l-.576-.002c-43.86-.304-79.647-36.544-79.423-80.42.173-33.98 19.266-51.652 31.999-66.08V96c0-26.467 21.533-48 48-48s48 21.533 48 48v221.498c12.63 14.312 32 32.164 32 66.502 0 44.112-35.888 80-80 80zm64-80c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V96c0-17.673 14.327-32 32-32s32 14.327 32 32v232.583c19.124 11.068 32 31.732 32 55.417z\" />\n  </symbol>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": true,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "anotherField",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Temperature [ALFA]",
        "x": 1200,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9ce594fa.ffea28",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "6b102e41.e5d07",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "Lightness_label [ALFA]",
        "label": "Lightness",
        "format": "{{msg.payload.Light}}%",
        "layout": "col-center",
        "x": 1060,
        "y": 120,
        "wires": []
    },
    {
        "id": "57c945b1.2d027c",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "6b102e41.e5d07",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Moisture_label [ALFA]",
        "label": "Moisture",
        "format": "{{msg.payload.Moisture}}%",
        "layout": "col-center",
        "x": 1060,
        "y": 200,
        "wires": []
    },
    {
        "id": "c0682c16.c8c98",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "e79f0760.0d92c8",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Temperature_label [BETA]",
        "label": "Temperature",
        "format": "{{msg.payload.Temperature}}ºC",
        "layout": "col-center",
        "x": 1050,
        "y": 540,
        "wires": []
    },
    {
        "id": "38bb0b5e.fb9724",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "e79f0760.0d92c8",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Humidity_label [BETA]",
        "label": "Humidity",
        "format": "{{msg.payload.Humidity}}%",
        "layout": "col-center",
        "x": 1040,
        "y": 460,
        "wires": []
    },
    {
        "id": "deac004d.200ac",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "e79f0760.0d92c8",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "Lightness_label [BETA]",
        "label": "Lightness",
        "format": "{{msg.payload.Light}}%",
        "layout": "col-center",
        "x": 1050,
        "y": 500,
        "wires": []
    },
    {
        "id": "13b101ec.39427e",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "e79f0760.0d92c8",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Moisture_label [BETA]",
        "label": "Moisture",
        "format": "{{msg.payload.Moisture}}%",
        "layout": "col-center",
        "x": 1040,
        "y": 580,
        "wires": []
    },
    {
        "id": "abc5eece.054dd",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "237595ce.6279ca",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Temperature_label [GAMA]",
        "label": "Temperature",
        "format": "{{msg.payload.Temperature}}ºC",
        "layout": "col-center",
        "x": 1060,
        "y": 920,
        "wires": []
    },
    {
        "id": "17c3f360.56bcdd",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "237595ce.6279ca",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Umidade_ar [GAMA]",
        "label": "Humidity",
        "format": "{{msg.payload.Humidity}}%",
        "layout": "col-center",
        "x": 1040,
        "y": 840,
        "wires": []
    },
    {
        "id": "690d176.2694ee8",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "237595ce.6279ca",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "Lightness_label [GAMA]",
        "label": "Lightness",
        "format": "{{msg.payload.Light}}%",
        "layout": "col-center",
        "x": 1050,
        "y": 880,
        "wires": []
    },
    {
        "id": "4d6e82b9.2de1ec",
        "type": "ui_text",
        "z": "36088eac.626c12",
        "group": "237595ce.6279ca",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Moisture_label [GAMA]",
        "label": "Moisture",
        "format": "{{msg.payload.Moisture}}%",
        "layout": "col-center",
        "x": 1050,
        "y": 960,
        "wires": []
    },
    {
        "id": "a4980821.312e58",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "\n\nif(msg.payload.Moisture<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_10);\"\n    },\n    ];\nif((msg.payload.Moisture>10)&&(msg.payload.Moisture<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_20);\"\n    },\n    ];\nif((msg.payload.Moisture>20)&&(msg.payload.Moisture<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_30);\"\n    },\n    ];\nif((msg.payload.Moisture>30)&&(msg.payload.Moisture<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_40);\"\n    },\n    ];\nif((msg.payload.Moisture>40)&&(msg.payload.Moisture<=50))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_50);\"\n    },\n    ];\nif((msg.payload.Moisture>50)&&(msg.payload.Moisture<=60))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_60);\"\n    },\n    ];\nif((msg.payload.Moisture>60)&&(msg.payload.Moisture<=70))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_70);\"\n    },\n    ];\nif((msg.payload.Moisture>70)&&(msg.payload.Moisture<=80))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_80);\"\n    },\n    ];\nif((msg.payload.Moisture>80)&&(msg.payload.Moisture<=90))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_90);\"\n    },\n    ];\nif(msg.payload.Moisture>90)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_100);\"\n    },\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "2a899c5d.a38d24"
            ]
        ]
    },
    {
        "id": "2a899c5d.a38d24",
        "type": "ui_svg_graphics",
        "z": "36088eac.626c12",
        "group": "6b102e41.e5d07",
        "order": 3,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"moisture\" xlink:href=\"#plant\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:url(#moisture_10);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"plant\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 512 512\">\n    <path d=\"M64 96H0c0 123.7 100.3 224 224 224v144c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V320C288 196.3 187.7 96 64 96zm384-64c-84.2 0-157.4 46.5-195.7 115.2 27.7 30.2 48.2 66.9 59 107.6C424 243.1 512 147.9 512 32h-64z\" />\n  </symbol>\n  <linearGradient id=\"moisture_10\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_20\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"80%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_30\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"70%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_40\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"60%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_50\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"50%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_60\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"40%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_70\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"30%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_80\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"20%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_90\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"10%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_100\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"0%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "anotherField",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Moisture [ALFA]",
        "x": 1180,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1ac82a4f.03b756",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "\n\nif(msg.payload.Moisture<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_10);\"\n    },\n    ];\nif((msg.payload.Moisture>10)&&(msg.payload.Moisture<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_20);\"\n    },\n    ];\nif((msg.payload.Moisture>20)&&(msg.payload.Moisture<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_30);\"\n    },\n    ];\nif((msg.payload.Moisture>30)&&(msg.payload.Moisture<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_40);\"\n    },\n    ];\nif((msg.payload.Moisture>40)&&(msg.payload.Moisture<=50))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_50);\"\n    },\n    ];\nif((msg.payload.Moisture>50)&&(msg.payload.Moisture<=60))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_60);\"\n    },\n    ];\nif((msg.payload.Moisture>60)&&(msg.payload.Moisture<=70))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_70);\"\n    },\n    ];\nif((msg.payload.Moisture>70)&&(msg.payload.Moisture<=80))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_80);\"\n    },\n    ];\nif((msg.payload.Moisture>80)&&(msg.payload.Moisture<=90))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_90);\"\n    },\n    ];\nif(msg.payload.Moisture>90)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_100);\"\n    },\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 740,
        "wires": [
            [
                "99486b2a.0458b8"
            ]
        ]
    },
    {
        "id": "99486b2a.0458b8",
        "type": "ui_svg_graphics",
        "z": "36088eac.626c12",
        "group": "e79f0760.0d92c8",
        "order": 3,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"moisture\" xlink:href=\"#plant\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:url(#moisture_10);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"plant\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 512 512\">\n    <path d=\"M64 96H0c0 123.7 100.3 224 224 224v144c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V320C288 196.3 187.7 96 64 96zm384-64c-84.2 0-157.4 46.5-195.7 115.2 27.7 30.2 48.2 66.9 59 107.6C424 243.1 512 147.9 512 32h-64z\" />\n  </symbol>\n  <linearGradient id=\"moisture_10\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_20\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"80%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_30\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"70%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_40\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"60%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_50\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"50%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_60\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"40%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_70\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"30%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_80\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"20%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_90\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"10%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_100\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"0%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "anotherField",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Moisture [BETA]",
        "x": 1160,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "e0b302c6.85518",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "\n\nif(msg.payload.Moisture<=10)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_10);\"\n    },\n    ];\nif((msg.payload.Moisture>10)&&(msg.payload.Moisture<=20))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_20);\"\n    },\n    ];\nif((msg.payload.Moisture>20)&&(msg.payload.Moisture<=30))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_30);\"\n    },\n    ];\nif((msg.payload.Moisture>30)&&(msg.payload.Moisture<=40))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_40);\"\n    },\n    ];\nif((msg.payload.Moisture>40)&&(msg.payload.Moisture<=50))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_50);\"\n    },\n    ];\nif((msg.payload.Moisture>50)&&(msg.payload.Moisture<=60))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_60);\"\n    },\n    ];\nif((msg.payload.Moisture>60)&&(msg.payload.Moisture<=70))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_70);\"\n    },\n    ];\nif((msg.payload.Moisture>70)&&(msg.payload.Moisture<=80))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_80);\"\n    },\n    ];\nif((msg.payload.Moisture>80)&&(msg.payload.Moisture<=90))\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_90);\"\n    },\n    ];\nif(msg.payload.Moisture>90)\n    msg.payload = [\n    {\n        \"command\": \"update_attribute\",\n        \"selector\": \"#moisture\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:url(#moisture_100);\"\n    },\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1120,
        "wires": [
            [
                "e4af6d3a.c3c0b"
            ]
        ]
    },
    {
        "id": "e4af6d3a.c3c0b",
        "type": "ui_svg_graphics",
        "z": "36088eac.626c12",
        "group": "237595ce.6279ca",
        "order": 3,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"moisture\" xlink:href=\"#plant\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:url(#moisture_10);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"plant\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 512 512\">\n    <path d=\"M64 96H0c0 123.7 100.3 224 224 224v144c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V320C288 196.3 187.7 96 64 96zm384-64c-84.2 0-157.4 46.5-195.7 115.2 27.7 30.2 48.2 66.9 59 107.6C424 243.1 512 147.9 512 32h-64z\" />\n  </symbol>\n  <linearGradient id=\"moisture_10\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_20\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"80%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_30\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"70%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_40\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"60%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_50\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"50%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_60\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"40%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_70\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"30%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_80\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"20%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_90\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"10%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"moisture_100\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"0%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: yellowgreen; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "anotherField",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Moisture [GAMA]",
        "x": 1170,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "97f13339.5bdb1",
        "type": "ui_svg_graphics",
        "z": "36088eac.626c12",
        "group": "6b102e41.e5d07",
        "order": 4,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"lightness\" xlink:href=\"#lightbulb\" x=\"50\" y=\"0\" width=\"200\" height=\"300\" style=\"fill:url(#lightness_10);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"lightbulb\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\">\n    <path d=\"M96.06 454.35c.01 6.29 1.87 12.45 5.36 17.69l17.09 25.69a31.99 31.99 0 0 0 26.64 14.28h61.71a31.99 31.99 0 0 0 26.64-14.28l17.09-25.69a31.989 31.989 0 0 0 5.36-17.69l.04-38.35H96.01l.05 38.35zM0 176c0 44.37 16.45 84.85 43.56 115.78 16.52 18.85 42.36 58.23 52.21 91.45.04.26.07.52.11.78h160.24c.04-.26.07-.51.11-.78 9.85-33.22 35.69-72.6 52.21-91.45C335.55 260.85 352 220.37 352 176 352 78.61 272.91-.3 175.45 0 73.44.31 0 82.97 0 176zm176-80c-44.11 0-80 35.89-80 80 0 8.84-7.16 16-16 16s-16-7.16-16-16c0-61.76 50.24-112 112-112 8.84 0 16 7.16 16 16s-7.16 16-16 16z\" />\n  </symbol>\n  <linearGradient id=\"lightness_10\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_20\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"80%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_30\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"70%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_40\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"60%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_50\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"50%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_60\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"40%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_70\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"30%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_80\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"20%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_90\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"10%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_100\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"0%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "anotherField",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Lightness [ALFA]",
        "x": 1190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "de8023a4.29843",
        "type": "ui_svg_graphics",
        "z": "36088eac.626c12",
        "group": "e79f0760.0d92c8",
        "order": 4,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"lightness\" xlink:href=\"#lightbulb\" x=\"50\" y=\"0\" width=\"200\" height=\"300\" style=\"fill:url(#lightness_10);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"lightbulb\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\">\n    <path d=\"M96.06 454.35c.01 6.29 1.87 12.45 5.36 17.69l17.09 25.69a31.99 31.99 0 0 0 26.64 14.28h61.71a31.99 31.99 0 0 0 26.64-14.28l17.09-25.69a31.989 31.989 0 0 0 5.36-17.69l.04-38.35H96.01l.05 38.35zM0 176c0 44.37 16.45 84.85 43.56 115.78 16.52 18.85 42.36 58.23 52.21 91.45.04.26.07.52.11.78h160.24c.04-.26.07-.51.11-.78 9.85-33.22 35.69-72.6 52.21-91.45C335.55 260.85 352 220.37 352 176 352 78.61 272.91-.3 175.45 0 73.44.31 0 82.97 0 176zm176-80c-44.11 0-80 35.89-80 80 0 8.84-7.16 16-16 16s-16-7.16-16-16c0-61.76 50.24-112 112-112 8.84 0 16 7.16 16 16s-7.16 16-16 16z\" />\n  </symbol>\n  <linearGradient id=\"lightness_10\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_20\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"80%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_30\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"70%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_40\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"60%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_50\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"50%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_60\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"40%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_70\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"30%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_80\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"20%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_90\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"10%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_100\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"0%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "anotherField",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Lightness [BETA]",
        "x": 1170,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "594109a.c4b4ff8",
        "type": "ui_svg_graphics",
        "z": "36088eac.626c12",
        "group": "237595ce.6279ca",
        "order": 4,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"lightness\" xlink:href=\"#lightbulb\" x=\"50\" y=\"0\" width=\"200\" height=\"300\" style=\"fill:url(#lightness_10);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"lightbulb\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\">\n    <path d=\"M96.06 454.35c.01 6.29 1.87 12.45 5.36 17.69l17.09 25.69a31.99 31.99 0 0 0 26.64 14.28h61.71a31.99 31.99 0 0 0 26.64-14.28l17.09-25.69a31.989 31.989 0 0 0 5.36-17.69l.04-38.35H96.01l.05 38.35zM0 176c0 44.37 16.45 84.85 43.56 115.78 16.52 18.85 42.36 58.23 52.21 91.45.04.26.07.52.11.78h160.24c.04-.26.07-.51.11-.78 9.85-33.22 35.69-72.6 52.21-91.45C335.55 260.85 352 220.37 352 176 352 78.61 272.91-.3 175.45 0 73.44.31 0 82.97 0 176zm176-80c-44.11 0-80 35.89-80 80 0 8.84-7.16 16-16 16s-16-7.16-16-16c0-61.76 50.24-112 112-112 8.84 0 16 7.16 16 16s-7.16 16-16 16z\" />\n  </symbol>\n  <linearGradient id=\"lightness_10\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_20\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"80%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_30\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"70%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_40\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"60%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_50\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"50%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_60\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"40%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_70\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"30%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_80\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"20%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_90\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"10%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"lightness_100\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"0%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: gold; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "anotherField",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Lightness [GAMA]",
        "x": 1170,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "795fc59b.e184bc",
        "type": "ui_svg_graphics",
        "z": "36088eac.626c12",
        "group": "6b102e41.e5d07",
        "order": 2,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"humidity\" xlink:href=\"#water\" x=\"50\" y=\"0\" width=\"200\" height=\"300\" style=\"fill:url(#humidity_10);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"water\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\">\n    <path d=\"M205.22 22.09c-7.94-28.78-49.44-30.12-58.44 0C100.01 179.85 0 222.72 0 333.91 0 432.35 78.72 512 176 512s176-79.65 176-178.09c0-111.75-99.79-153.34-146.78-311.82zM176 448c-61.75 0-112-50.25-112-112 0-8.84 7.16-16 16-16s16 7.16 16 16c0 44.11 35.89 80 80 80 8.84 0 16 7.16 16 16s-7.16 16-16 16z\" />\n  </symbol>\n  <linearGradient id=\"humidity_10\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_20\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"80%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_30\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"70%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_40\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"60%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_50\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"50%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_60\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"40%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_70\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"30%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_80\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"20%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_90\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"10%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_100\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"0%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "anotherField",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Humidity [ALFA]",
        "x": 1180,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2bb3a460.2f2d1c",
        "type": "ui_svg_graphics",
        "z": "36088eac.626c12",
        "group": "e79f0760.0d92c8",
        "order": 2,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"humidity\" xlink:href=\"#water\" x=\"50\" y=\"0\" width=\"200\" height=\"300\" style=\"fill:url(#humidity_10);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"water\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\">\n    <path d=\"M205.22 22.09c-7.94-28.78-49.44-30.12-58.44 0C100.01 179.85 0 222.72 0 333.91 0 432.35 78.72 512 176 512s176-79.65 176-178.09c0-111.75-99.79-153.34-146.78-311.82zM176 448c-61.75 0-112-50.25-112-112 0-8.84 7.16-16 16-16s16 7.16 16 16c0 44.11 35.89 80 80 80 8.84 0 16 7.16 16 16s-7.16 16-16 16z\" />\n  </symbol>\n  <linearGradient id=\"humidity_10\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_20\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"80%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_30\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"70%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_40\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"60%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_50\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"50%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_60\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"40%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_70\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"30%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_80\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"20%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_90\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"10%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_100\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"0%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "anotherField",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Humidity [BETA]",
        "x": 1160,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c8d182d1.67acf",
        "type": "ui_svg_graphics",
        "z": "36088eac.626c12",
        "group": "237595ce.6279ca",
        "order": 2,
        "width": 3,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 300 300\" x=\"0px\" y=\"0px\" width=\"100%\" height=\"100%\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"300\" height=\"300\" style=\"fill:none;\" />\n  <use id=\"humidity\" xlink:href=\"#water\" x=\"50\" y=\"0\" width=\"200\" height=\"300\" style=\"fill:url(#humidity_10);\" transform=\"matrix(1 0 0 1 0 0)\" />\n  <symbol id=\"water\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\">\n    <path d=\"M205.22 22.09c-7.94-28.78-49.44-30.12-58.44 0C100.01 179.85 0 222.72 0 333.91 0 432.35 78.72 512 176 512s176-79.65 176-178.09c0-111.75-99.79-153.34-146.78-311.82zM176 448c-61.75 0-112-50.25-112-112 0-8.84 7.16-16 16-16s16 7.16 16 16c0 44.11 35.89 80 80 80 8.84 0 16 7.16 16 16s-7.16 16-16 16z\" />\n  </symbol>\n  <linearGradient id=\"humidity_10\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"90%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_20\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"80%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_30\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"70%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_40\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"60%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_50\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"50%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_60\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"40%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_70\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"30%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_80\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"20%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_90\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"10%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n  <linearGradient id=\"humidity_100\" gradientUnits=\"objectBoundingBox\" spreadMethod=\"reflect\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\">\n    <stop offset=\"0%\" style=\"stop-color: lightgrey; stop-opacity: 1;\" />\n    <stop offset=\"0%\" style=\"stop-color: midnightblue; stop-opacity: 1;\" />\n  </linearGradient>\n</svg>",
        "clickableShapes": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "anotherField",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "Humidity [GAMA]",
        "x": 1170,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "a71edcb9.51dbc",
        "type": "ui_numeric",
        "z": "36088eac.626c12",
        "name": "Moisture [%]",
        "label": "",
        "tooltip": "",
        "group": "ac75c8d1.91fa48",
        "order": 6,
        "width": 4,
        "height": 1,
        "wrap": true,
        "passthru": false,
        "topic": "moiMin",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 350,
        "y": 640,
        "wires": [
            [
                "c5c709db.1b2828"
            ]
        ]
    },
    {
        "id": "8fa9b686.6c30d8",
        "type": "ui_colour_picker",
        "z": "36088eac.626c12",
        "name": "",
        "label": "Light",
        "group": "ac75c8d1.91fa48",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 10,
        "width": 5,
        "height": 2,
        "passthru": false,
        "topic": "rgb",
        "x": 330,
        "y": 720,
        "wires": [
            [
                "c5c709db.1b2828"
            ]
        ]
    },
    {
        "id": "c5c709db.1b2828",
        "type": "join",
        "z": "36088eac.626c12",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 530,
        "y": 820,
        "wires": [
            [
                "7e3187e3.c8e738"
            ]
        ]
    },
    {
        "id": "8c7951.1777e6b",
        "type": "change",
        "z": "36088eac.626c12",
        "name": "OK",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "complete",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 820,
        "wires": [
            [
                "c5c709db.1b2828"
            ]
        ]
    },
    {
        "id": "9c22d9a4.be0a38",
        "type": "ui_button",
        "z": "36088eac.626c12",
        "name": "",
        "group": "ac75c8d1.91fa48",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "a",
        "payloadType": "str",
        "topic": "forced",
        "x": 295,
        "y": 820,
        "wires": [
            [
                "8c7951.1777e6b"
            ]
        ],
        "l": false
    },
    {
        "id": "9d688003.ef748",
        "type": "ui_numeric",
        "z": "36088eac.626c12",
        "name": "Moisture [%]",
        "label": "Moisture ",
        "tooltip": "",
        "group": "ac75c8d1.91fa48",
        "order": 7,
        "width": 4,
        "height": 1,
        "wrap": true,
        "passthru": false,
        "topic": "moiMax",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 350,
        "y": 680,
        "wires": [
            [
                "c5c709db.1b2828"
            ]
        ]
    },
    {
        "id": "23aab846.9e1808",
        "type": "ui_numeric",
        "z": "36088eac.626c12",
        "name": "Temperature",
        "label": "",
        "tooltip": "",
        "group": "ac75c8d1.91fa48",
        "order": 2,
        "width": 4,
        "height": 1,
        "wrap": true,
        "passthru": false,
        "topic": "temMin",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "c5c709db.1b2828"
            ]
        ]
    },
    {
        "id": "ac38f426.48ed18",
        "type": "ui_numeric",
        "z": "36088eac.626c12",
        "name": "Temperature",
        "label": "Temperature",
        "tooltip": "",
        "group": "ac75c8d1.91fa48",
        "order": 3,
        "width": 4,
        "height": 1,
        "wrap": true,
        "passthru": false,
        "topic": "temMax",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 350,
        "y": 600,
        "wires": [
            [
                "c5c709db.1b2828"
            ]
        ]
    },
    {
        "id": "7e3187e3.c8e738",
        "type": "function",
        "z": "36088eac.626c12",
        "name": "",
        "func": "msg.payload = msg.payload.temMin+\" \"+msg.payload.temMax+\" \"+msg.payload.moiMin+\" \"+msg.payload.moiMax+\" \"+msg.payload.rgb.r+\" \"+msg.payload.rgb.g+\" \"+msg.payload.rgb.b;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 820,
        "wires": [
            [
                "1cfa9fa4.9a7af"
            ]
        ]
    },
    {
        "id": "e51f551a.32fa38",
        "type": "mqtt-broker",
        "z": "",
        "name": "Eclipse_Broker",
        "broker": "mqtt.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "aea72efb.b292c",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "}",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "6b102e41.e5d07",
        "type": "ui_group",
        "z": "",
        "name": "ESTUFA ALFA",
        "tab": "89ba2785.17e178",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "237595ce.6279ca",
        "type": "ui_group",
        "z": "",
        "name": "ESTUFA GAMA",
        "tab": "89ba2785.17e178",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "e79f0760.0d92c8",
        "type": "ui_group",
        "z": "",
        "name": "ESTUFA BETA",
        "tab": "89ba2785.17e178",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "ac75c8d1.91fa48",
        "type": "ui_group",
        "z": "",
        "name": "CONTROLE DAS ESTUFAS",
        "tab": "89ba2785.17e178",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "89ba2785.17e178",
        "type": "ui_tab",
        "z": "",
        "name": "MeuTrecoNaInternet",
        "icon": "filter_vintage",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]